In [1]:
#Import dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import json
import pymongo
#import dns
from webdriver_manager.chrome import ChromeDriverManager
from pymongo import MongoClient

In [2]:
#Testing Scraping via web browser
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - There is no [win32] chromedriver for browser 88.0.4324 in cache
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\Asus\.wdm\drivers\chromedriver\win32\88.0.4324.96]

In [3]:
aus_url = 'https://www.atlasobscura.com/things-to-do/australia'
browser.visit(aus_url)
html = browser.html
soup = bs(html, 'html.parser')
aus_sub = soup.find_all('script')
aus_strip = aus_sub[35].string.replace('\n','').strip()
aus_dat = json.loads(aus_strip[27:-1])
ausdf = pd.DataFrame(aus_dat['places'])
ausdf = ausdf.head(5)
ausdf = ausdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
ausdf = ausdf[["country", "city", "title", "subtitle", "coordinates"]]

In [4]:
ausdf

,country,city,title,subtitle,coordinates
0,Australia,,Lake Hillier,An Australian lake whose pink hue defies scien...,"{'lat': -34.094179, 'lng': 123.203276}"
1,Australia,Helensburgh,Glowworm Tunnel,An abandoned railroad tunnel is now filled wit...,"{'lat': -34.178988, 'lng': 150.992816}"
2,Australia,Raymond Island,Gippsland Lakes Bioluminescence,Australian Lake set aglow by Noctiluca Scintil...,"{'lat': -37.922431, 'lng': 147.791342}"
3,Australia,Mena Creek,Paronella Park,A castle hand built by a Spanish dreamer in th...,"{'lat': -17.656694, 'lng': 145.956253}"
4,Australia,Putty,Newnes Glow Worm Tunnel,"Once the path of a railway tunnel, now home to...","{'lat': -32.873889, 'lng': 150.4922}"

In [5]:
aut_url = 'https://www.atlasobscura.com/things-to-do/austria'
browser.visit(aut_url)
html = browser.html
soup = bs(html, 'html.parser')
aut_sub = soup.find_all('script')
aut_strip = aut_sub[35].string.replace('\n','').strip()
aut_dat = json.loads(aut_strip[27:-1])
autdf = pd.DataFrame(aut_dat['places'])
autdf = autdf.head(5)
autdf = autdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
autdf = autdf[["country", "city", "title", "subtitle", "coordinates"]]

In [6]:
autdf

,country,city,title,subtitle,coordinates
0,Austria,Vienna,Österreichische Nationalbibliothek (Austrian N...,The beautiful baroque library of the Hapsburg ...,"{'lat': 48.206002, 'lng': 16.367297}"
1,Austria,Vienna,Stephansdom Crypt,The crypt of the imposing Stephensdom holds ro...,"{'lat': 48.208016, 'lng': 16.372923}"
2,Austria,Vienna,Clock Museum,"A small museum filled with over 1,000 clocks, ...","{'lat': 48.210828, 'lng': 16.369329}"
3,Austria,Vienna,Habsburg Imperial Crypt,The final resting place for the remains of 143...,"{'lat': 48.20554, 'lng': 16.369939}"
4,Austria,Vienna,Schmetterlinghaus: The Imperial Butterfly Park,A tropical paradise just a short trip from the...,"{'lat': 48.205345, 'lng': 16.366601}"

In [7]:
col_url = 'https://www.atlasobscura.com/things-to-do/colombia'
browser.visit(col_url)
html = browser.html
soup = bs(html, 'html.parser')
col_sub = soup.find_all('script')
col_strip = col_sub[35].string.replace('\n','').strip()
col_dat = json.loads(col_strip[27:-1])
coldf = pd.DataFrame(col_dat['places'])
coldf = coldf.head(5)
coldf = coldf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
coldf = coldf[["country", "city", "title", "subtitle", "coordinates"]]

In [8]:
coldf

,country,city,title,subtitle,coordinates
0,Colombia,Vista Hermosa,Caño Cristales,"An explosion of natural color known as ""the ri...","{'lat': 2.264193, 'lng': -73.794469}"
1,Colombia,Nariño,Las Lajas Sanctuary,A dangling church built over a Colombian gorge.,"{'lat': 0.805495, 'lng': -77.581687}"
2,Colombia,San Antonio del Tequendama,Tequendama Falls Museum,This picturesque mansion has gone from opulent...,"{'lat': 4.616667, 'lng': -74.35}"
3,Colombia,Guatape,Guatapé,The Andean town where every single building is...,"{'lat': 6.231137, 'lng': -75.153467}"
4,Colombia,Jardín,Cave of Splendor,Enchanting cave with a river crashing through ...,"{'lat': 5.599205, 'lng': -75.819349}"

In [ ]:
##use time

In [10]:
cri_url = 'https://www.atlasobscura.com/things-to-do/costa-rica'
browser.visit(cri_url)
html = browser.html
soup = bs(html, 'html.parser')
cri_sub = soup.find_all('script')
cri_strip = cri_sub[39].string.replace('\n','').strip()
cri_dat = json.loads(cri_strip[27:-1])
cridf = pd.DataFrame(cri_dat['places'])
cridf = cridf.head(5)
cridf = cridf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
cridf = cridf[["country", "city", "title", "subtitle", "coordinates"]]

In [11]:
cridf

,country,city,title,subtitle,coordinates
0,Costa Rica,Cahuita,Aviarios del Caribe: Sloth Sanctuary,Sloth rehabilitation center in the jungle of C...,"{'lat': 9.738889, 'lng': -82.845556}"
1,Costa Rica,,Río Celeste,This neon blue river gets its color from a uni...,"{'lat': 10.702665, 'lng': -84.993211}"
2,Costa Rica,Alajuela,Territorio de Zaguates (Land of Strays),"Where dogs like the rare ""Fire-Tailed Border C...","{'lat': 10.096114, 'lng': -84.156124}"
3,Costa Rica,Zarcero,Parque Francisco Alvarado,This Costa Rican topiary park is a surreal gar...,"{'lat': 10.184389, 'lng': -84.391666}"
4,Costa Rica,,Diquís Spheres,These mysterious ancient stone spheres were cr...,"{'lat': 8.910814, 'lng': -83.478767}"

In [12]:
hrv_url = 'https://www.atlasobscura.com/things-to-do/croatia'
browser.visit(hrv_url)
html = browser.html
soup = bs(html, 'html.parser')
hrv_sub = soup.find_all('script')
hrv_strip = hrv_sub[35].string.replace('\n','').strip()
hrv_dat = json.loads(hrv_strip[27:-1])
hrvdf = pd.DataFrame(hrv_dat['places'])
hrvdf = hrvdf.head(5)
hrvdf = hrvdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
hrvdf = hrvdf[["country", "city", "title", "subtitle", "coordinates"]]

In [13]:
hrvdf

,country,city,title,subtitle,coordinates
0,Croatia,Komiža,Blue Cave of Bisevo,An ethereal glowing blue ocean cave in Croatia.,"{'lat': 42.978394, 'lng': 16.01112}"
1,Croatia,Plitvička Jezera,Plitvice Lakes,A chain of 16 wondrous lakes formed as a resul...,"{'lat': 44.878255, 'lng': 15.611229}"
2,Croatia,Zadar,Sea Organ,A musical instrument played by the sea.,"{'lat': 44.117324, 'lng': 15.220184}"
3,Croatia,Zagreb,Zagreb's Museum of Broken Relationships,Where the lovelorn find a home for their senti...,"{'lat': 45.815841, 'lng': 15.973551}"
4,Croatia,Podgarić,Podgaric Monument,"This stunning, out-of-the-way Croatian monumen...","{'lat': 45.640795, 'lng': 16.77487}"

In [14]:
est_url = 'https://www.atlasobscura.com/things-to-do/estonia'
browser.visit(est_url)
html = browser.html
soup = bs(html, 'html.parser')
est_sub = soup.find_all('script')
est_strip = est_sub[35].string.replace('\n','').strip()
est_dat = json.loads(est_strip[27:-1])
estdf = pd.DataFrame(est_dat['places'])
estdf = estdf.head(5)
estdf = estdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
estdf = estdf[["country", "city", "title", "subtitle", "coordinates"]]

In [15]:
fin_url = 'https://www.atlasobscura.com/things-to-do/finland'
browser.visit(fin_url)
html = browser.html
soup = bs(html, 'html.parser')
fin_sub = soup.find_all('script')
fin_strip = fin_sub[35].string.replace('\n','').strip()
fin_dat = json.loads(fin_strip[27:-1])
findf = pd.DataFrame(fin_dat['places'])
findf = findf.head(5)
findf = findf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
findf = findf[["country", "city", "title", "subtitle", "coordinates"]]

In [16]:
findf

,country,city,title,subtitle,coordinates
0,Finland,Saariselkä,Kakslauttanen Arctic Resort,Rent out a glass igloo to watch the Northern L...,"{'lat': 68.333507, 'lng': 27.336704}"
1,Finland,Kemi,Kemi Snow Castle,The fantastical icy castle is built anew every...,"{'lat': 65.726565, 'lng': 24.569187}"
2,Finland,Helsinki,Temppeliaukio Church,A subterranean house of worship carved right o...,"{'lat': 60.17297, 'lng': 24.924974}"
3,Finland,Helsinki,The National Library of Finland,Architecturally stunning library serves as the...,"{'lat': 60.170351, 'lng': 24.95068}"
4,Finland,Ruokolahti,Kummakivi Balancing Rock,Legend has this precariously placed rock broug...,"{'lat': 61.4935, 'lng': 28.429371}"

In [17]:
fra_url = 'https://www.atlasobscura.com/things-to-do/france'
browser.visit(fra_url)
html = browser.html
soup = bs(html, 'html.parser')
fra_sub = soup.find_all('script')
fra_strip = fra_sub[35].string.replace('\n','').strip()
fra_dat = json.loads(fra_strip[27:-1])
fradf = pd.DataFrame(fra_dat['places'])
fradf = fradf.head(5)
fradf = fradf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
fradf = fradf[["country", "city", "title", "subtitle", "coordinates"]]

In [18]:
fradf

,country,city,title,subtitle,coordinates
0,France,Paris,Catacombes de Paris,The Catacombs hold secrets much stranger than ...,"{'lat': 48.834329, 'lng': 2.332234}"
1,France,Paris,Museum of Vampires and Legendary Creatures,"The macabre collection of Jacques Sirgent, an ...","{'lat': 48.875554, 'lng': 2.414373}"
2,France,Paris,Père Lachaise Cemetery,"France's most famous cemetery, with some of it...","{'lat': 48.859397, 'lng': 2.390971}"
3,France,Paris,Petite Ceinture,Abandoned railway line circling the city of Pa...,"{'lat': 48.835036, 'lng': 2.28505}"
4,France,Paris,59 Rivoli,Notorious artist squat renovated into legal st...,"{'lat': 48.859239, 'lng': 2.345767}"

In [19]:
deu_url = 'https://www.atlasobscura.com/things-to-do/germany'
browser.visit(deu_url)
html = browser.html
soup = bs(html, 'html.parser')
deu_sub = soup.find_all('script')
deu_strip = deu_sub[35].string.replace('\n','').strip()
deu_dat = json.loads(deu_strip[27:-1])
deudf = pd.DataFrame(deu_dat['places'])
deudf = deudf.head(5)
deudf = deudf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
deudf = deudf[["country", "city", "title", "subtitle", "coordinates"]]

In [20]:
deudf

,country,city,title,subtitle,coordinates
0,Germany,Berlin,Spreepark,An eerie derelict amusement park sits abandone...,"{'lat': 52.483571, 'lng': 13.491633}"
1,Germany,Gablenz,Rakotzbrücke Devil's Bridge,This jaw-dropping 19th-century bridge uses its...,"{'lat': 51.536283, 'lng': 14.640583}"
2,Germany,Berlin,Berliner Unterwelten (Subterranean Berlin),A tour of underground Berlin takes you through...,"{'lat': 52.547842, 'lng': 13.389272}"
3,Germany,Berlin,Monster Kabinett,"Part art gallery, part haunted house, this rob...","{'lat': 52.523937, 'lng': 13.402526}"
4,Germany,Schwangau,Neuschwanstein Castle,"The fairy tale castle of the ""fairy-tale king.""","{'lat': 47.557429, 'lng': 10.749506}"

In [22]:
grc_url = 'https://www.atlasobscura.com/things-to-do/greece'
browser.visit(grc_url)
html = browser.html
soup = bs(html, 'html.parser')
grc_sub = soup.find_all('script')
grc_strip = grc_sub[35].string.replace('\n','').strip()
grc_dat = json.loads(grc_strip[27:-1])
grcdf = pd.DataFrame(grc_dat['places'])
grcdf = grcdf.head(5)
grcdf = grcdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
grcdf = grcdf[["country", "city", "title", "subtitle", "coordinates"]]

In [23]:
grcdf

,country,city,title,subtitle,coordinates
0,Greece,Kalabaka,Meteora,"Monasteries on rock pillars, once accessible o...","{'lat': 39.714167, 'lng': 21.631111}"
1,Greece,,The Oracle of Delphi,The hallucinogenic center of the ancient world.,"{'lat': 38.482384, 'lng': 22.500968}"
2,Greece,,Sami,A spectacular cave and a beguiling lake.,"{'lat': 38.25701, 'lng': 20.623559}"
3,Greece,Zakinthos,Navagio Beach,Hidden in a secluded Greek cove is a pristine ...,"{'lat': 37.859687, 'lng': 20.624832}"
4,Greece,Andros,Tourlitis Lighthouse,Perched on a spindly rock spire in a Greek arc...,"{'lat': 37.842234, 'lng': 24.945373}"

In [24]:
hun_url = 'https://www.atlasobscura.com/things-to-do/hungary'
browser.visit(hun_url)
html = browser.html
soup = bs(html, 'html.parser')
hun_sub = soup.find_all('script')
hun_strip = hun_sub[35].string.replace('\n','').strip()
hun_dat = json.loads(hun_strip[27:-1])
hundf = pd.DataFrame(hun_dat['places'])
hundf = hundf.head(5)
hundf = hundf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
hundf = hundf[["country", "city", "title", "subtitle", "coordinates"]]

In [25]:
hundf

,country,city,title,subtitle,coordinates
0,Hungary,Budapest,For Sale Pub,This Budapest bar allows drinkers to leave the...,"{'lat': 47.487595, 'lng': 19.058202}"
1,Hungary,Budapest,Szabo Ervin Library,"A 19th century artistocrat's mansion, turned i...","{'lat': 47.489376, 'lng': 19.064515}"
2,Hungary,Budapest,Shoes on the Danube Promenade,A trail of iron footwear stands as a monument ...,"{'lat': 47.50397, 'lng': 19.044837}"
3,Hungary,Budapest,Panoptikum Budapest,A series of caves under Castle Hill that once ...,"{'lat': 47.500079, 'lng': 19.034132}"
4,Hungary,Budapest,Vajdahunyad Castle,This Hungarian castle was built out of cardboa...,"{'lat': 47.514951, 'lng': 19.083293}"

In [26]:
ita_url = 'https://www.atlasobscura.com/things-to-do/italy'
browser.visit(ita_url)
html = browser.html
soup = bs(html, 'html.parser')
ita_sub = soup.find_all('script')
ita_strip = ita_sub[35].string.replace('\n','').strip()
ita_dat = json.loads(ita_strip[27:-1])
itadf = pd.DataFrame(ita_dat['places'])
itadf = itadf.head(5)
itadf = itadf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
itadf = itadf[["country", "city", "title", "subtitle", "coordinates"]]

In [27]:
itadf

,country,city,title,subtitle,coordinates
0,Italy,Sorrento,Valle dei Mulini (Valley of the Mills),An Italian crevasse filled with abandoned buil...,"{'lat': 40.624689, 'lng': 14.375598}"
1,Italy,Rome,Santa Maria della Concezione Crypts,The crypts of Capuchin friars decorated with t...,"{'lat': 41.904736, 'lng': 12.488236}"
2,Italy,Bomarzo,The Monsters of Bomarzo,A 16th-century horror show built in a lovely I...,"{'lat': 42.490986, 'lng': 12.246171}"
3,Italy,Rome,Torre Argentina (Roman Cat Sanctuary),Hundreds of lucky felines haunt the ruins wher...,"{'lat': 41.89592, 'lng': 12.476461}"
4,Italy,Baia,The Sunken City of Baia,A submerged archeological park still holds the...,"{'lat': 40.818356, 'lng': 14.07692}"

In [28]:
lva_url = 'https://www.atlasobscura.com/things-to-do/latvia'
browser.visit(lva_url)
html = browser.html
soup = bs(html, 'html.parser')
lva_sub = soup.find_all('script')
lva_strip = lva_sub[35].string.replace('\n','').strip()
lva_dat = json.loads(lva_strip[27:-1])
lvadf = pd.DataFrame(lva_dat['places'])
lvadf = lvadf.head(5)
lvadf = lvadf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
lvadf = lvadf[["country", "city", "title", "subtitle", "coordinates"]]

In [29]:
lvadf

,country,city,title,subtitle,coordinates
0,Latvia,Riga,The Corner House,A former Latvian headquarters of the brutal KG...,"{'lat': 56.958099, 'lng': 24.123981}"
1,Latvia,Riga,Riga Central Market,"3,000 market stands in five former Zeppelin ha...","{'lat': 56.946203, 'lng': 24.104287}"
2,Latvia,Riga,Art Nouveau in Riga,Flamboyant architecture from the turn of 20th ...,"{'lat': 56.959463, 'lng': 24.108778}"
3,Latvia,Liepāja,Liepaja Northern Forts,These crumbling Latvian forts make for some ha...,"{'lat': 56.59118, 'lng': 21.01587}"
4,Latvia,Slampe,Cinevilla,Spend the night in 1920s Latvia.,"{'lat': 56.847214, 'lng': 23.295287}"

In [30]:
ltu_url = 'https://www.atlasobscura.com/things-to-do/lithuania'
browser.visit(ltu_url)
html = browser.html
soup = bs(html, 'html.parser')
ltu_sub = soup.find_all('script')
ltu_strip = ltu_sub[35].string.replace('\n','').strip()
ltu_dat = json.loads(ltu_strip[27:-1])
ltudf = pd.DataFrame(ltu_dat['places'])
ltudf = ltudf.head(5)
ltudf = ltudf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
ltudf = ltudf[["country", "city", "title", "subtitle", "coordinates"]]

In [31]:
ltudf

,country,city,title,subtitle,coordinates
0,Lithuania,Juodkrantė,Hill of Witches,Lithuania's outdoor sculpture trail of wooden ...,"{'lat': 55.537719, 'lng': 21.112804}"
1,Lithuania,Meškuičių seniūnija,Hill of Crosses,"An old hill fort covered in over 100,000 cross...","{'lat': 56.015194, 'lng': 23.416523}"
2,Lithuania,Vilnius,Vilnil Museum of Illusions,Things aren't quite what they seem at this min...,"{'lat': 54.67836, 'lng': 25.284932}"
3,Lithuania,Joneikiškės,Europos Parkas,A curious art sculpture park in the geographic...,"{'lat': 54.83094, 'lng': 25.351339}"
4,Lithuania,Klaipėda,Juodasis Vaiduoklis (The Black Ghost),A creepy statue of a hooded ghost hauls itself...,"{'lat': 55.70663, 'lng': 21.12678}"

In [32]:
mlt_url = 'https://www.atlasobscura.com/things-to-do/malta'
browser.visit(mlt_url)
html = browser.html
soup = bs(html, 'html.parser')
mlt_sub = soup.find_all('script')
mlt_strip = mlt_sub[39].string.replace('\n','').strip()
mlt_dat = json.loads(mlt_strip[27:-1])
mltdf = pd.DataFrame(mlt_dat['places'])
mltdf = mltdf.head(5)
mltdf = mltdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
mltdf = mltdf[["country", "city", "title", "subtitle", "coordinates"]]

In [33]:
mltdf

,country,city,title,subtitle,coordinates
0,Malta,Mellieha,Popeye Village,"An abandoned set from the 1980 film ""Popeye,"" ...","{'lat': 35.960848, 'lng': 14.3413}"
1,Malta,Qrendi,Mnajdra,Stone Age solar temple is aligned with the sun...,"{'lat': 35.826765, 'lng': 14.4364}"
2,Malta,Rabat,Maltese Catacomb Complexes,"Burial grounds for more than 1,000 bodies deep...","{'lat': 35.884252, 'lng': 14.389687}"
3,Malta,Paola,Ħal Saflieni Hypogeum,This subterranean necropolis holds three floor...,"{'lat': 35.870094, 'lng': 14.506821}"
4,Malta,Iż-Żejtun,Secret Passage in St. Gregory's,A hidden tunnel of bones in one of Malta's old...,"{'lat': 35.852932, 'lng': 14.538263}"

In [34]:
nld_url = 'https://www.atlasobscura.com/things-to-do/netherlands'
browser.visit(nld_url)
html = browser.html
soup = bs(html, 'html.parser')
nld_sub = soup.find_all('script')
nld_strip = nld_sub[35].string.replace('\n','').strip()
nld_dat = json.loads(nld_strip[27:-1])
nlddf = pd.DataFrame(nld_dat['places'])
nlddf = nlddf.head(5)
nlddf = nlddf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
nlddf = nlddf[["country", "city", "title", "subtitle", "coordinates"]]

In [35]:
nlddf

,country,city,title,subtitle,coordinates
0,Netherlands,Amsterdam,Electric Ladyland: The Museum of Fluorescent Art,The world's only museum devoted to the wonders...,"{'lat': 52.375618, 'lng': 4.880677}"
1,Netherlands,Amsterdam,Nieuwe Spiegelstraat,An Amsterdam street lined with antique shops e...,"{'lat': 52.36344, 'lng': 4.888695}"
2,Netherlands,Amsterdam,The Torture Museum,Museum preserving torture methods from the past.,"{'lat': 52.367355, 'lng': 4.890628}"
3,Netherlands,Amsterdam,De Poezenboot (The Cat Boat),A floating cat sanctuary on an Amsterdam canal.,"{'lat': 52.378144, 'lng': 4.893079}"
4,Netherlands,Amsterdam,KattenKabinet,Cat art as far as the eye can see.,"{'lat': 52.365629, 'lng': 4.891552}"

In [36]:
nzl_url = 'https://www.atlasobscura.com/things-to-do/new-zealand'
browser.visit(nzl_url)
html = browser.html
soup = bs(html, 'html.parser')
nzl_sub = soup.find_all('script')
nzl_strip = nzl_sub[35].string.replace('\n','').strip()
nzl_dat = json.loads(nzl_strip[27:-1])
nzldf = pd.DataFrame(nzl_dat['places'])
nzldf = nzldf.head(5)
nzldf = nzldf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
nzldf = nzldf[["country", "city", "title", "subtitle", "coordinates"]]

In [37]:
nzldf

,country,city,title,subtitle,coordinates
0,New Zealand,Matamata,Hobbiton,"The real life Hobbiton, this sheep farm has be...","{'lat': -37.872091, 'lng': 175.68291}"
1,New Zealand,Waitomo,Waitomo Glowworm Caves,Tubing through a cave lit with glowworms is a ...,"{'lat': -38.26098, 'lng': 175.104346}"
2,New Zealand,Milford Sound,Milford Sound,"Dolphins, ancient clams and hundreds of waterf...","{'lat': -44.669385, 'lng': 167.925596}"
3,New Zealand,Castle Hill,Castle Hill,The Dalai Lama named this New Zealand landscap...,"{'lat': -43.230044, 'lng': 171.716085}"
4,New Zealand,Wanaka,That Wanaka Tree,A solitary tree has grown up all alone on Lake...,"{'lat': -44.698766, 'lng': 169.118076}"

In [38]:
nor_url = 'https://www.atlasobscura.com/things-to-do/norway'
browser.visit(nor_url)
html = browser.html
soup = bs(html, 'html.parser')
nor_sub = soup.find_all('script')
nor_strip = nor_sub[35].string.replace('\n','').strip()
nor_dat = json.loads(nor_strip[27:-1])
nordf = pd.DataFrame(nor_dat['places'])
nordf = nordf.head(5)
nordf = nordf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
nordf = nordf[["country", "city", "title", "subtitle", "coordinates"]]

In [39]:
nordf

,country,city,title,subtitle,coordinates
0,Norway,Odda,Trolltunga,"Walk 2,300 feet above the ground on the ""Troll...","{'lat': 60.124167, 'lng': 6.74}"
1,Norway,Averøy,Atlantic Road,A serpentine highway twists and turns over the...,"{'lat': 63.02009, 'lng': 7.358452}"
2,Norway,Gildeskål,Uredd Rest Area (Ureddplassen),Norway has built what may be the world's most ...,"{'lat': 66.950447, 'lng': 13.631344}"
3,Norway,Forsand,Kjeragbolten,This giant boulder is pinched over a 1000-mete...,"{'lat': 59.036269, 'lng': 6.592089}"
4,Norway,Strand,Preikestolen,"This ""preacher's pulpit"" once used for pagan r...","{'lat': 58.986111, 'lng': 6.188611}"

In [40]:
per_url = 'https://www.atlasobscura.com/things-to-do/peru'
browser.visit(per_url)
html = browser.html
soup = bs(html, 'html.parser')
per_sub = soup.find_all('script')
per_strip = per_sub[35].string.replace('\n','').strip()
per_dat = json.loads(per_strip[27:-1])
perdf = pd.DataFrame(per_dat['places'])
perdf = perdf.head(5)
perdf = perdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
perdf = perdf[["country", "city", "title", "subtitle", "coordinates"]]

In [41]:
perdf

,country,city,title,subtitle,coordinates
0,Peru,Aguas Calientes,Machu Picchu: The Lost City of The Inca,The intricate stonework of Machu Picchu serves...,"{'lat': -13.1631, 'lng': -72.545}"
1,Peru,Cusco,Q'eswachaka Rope Bridge,"Keshwa chaca, among the last handwoven Incan b...","{'lat': -14.381121, 'lng': -71.484012}"
2,Peru,Pitumarca,Rainbow Mountain,A remote candy-striped mountain in the Peruvia...,"{'lat': -13.870111, 'lng': -71.303212}"
3,Peru,Lima,Convento de San Francisco Ossuary,"The mortal remains of an estimated 70,000 peop...","{'lat': -12.045361, 'lng': -77.027011}"
4,Peru,Puerto Inca,The Boiling River of the Amazon,This scalding hot river was thought to be a my...,"{'lat': -8.82, 'lng': -74.73}"

In [42]:
pol_url = 'https://www.atlasobscura.com/things-to-do/poland'
browser.visit(pol_url)
html = browser.html
soup = bs(html, 'html.parser')
pol_sub = soup.find_all('script')
pol_strip = pol_sub[35].string.replace('\n','').strip()
pol_dat = json.loads(pol_strip[27:-1])
poldf = pd.DataFrame(pol_dat['places'])
poldf = poldf.head(5)
poldf = poldf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
poldf = poldf[["country", "city", "title", "subtitle", "coordinates"]]

In [43]:
poldf

,country,city,title,subtitle,coordinates
0,Poland,Kudowa-Zdrój,Kaplica Czaszek: The Chapel of Skulls,The walls and ceiling of this Polish church ar...,"{'lat': 50.451519, 'lng': 16.241933}"
1,Poland,Gryfino,Crooked Forest,Countless stories attempt to explain Poland's ...,"{'lat': 53.214163, 'lng': 14.475731}"
2,Poland,Wieliczka,Wieliczka Salt Mine,An underground city of salt.,"{'lat': 49.982999, 'lng': 20.055679}"
3,Poland,Krakow,Rynek Underground,Beneath Kraków Old Town's main square lies a h...,"{'lat': 50.061877, 'lng': 19.93767}"
4,Poland,Krakow,The Bones of the Wawel Dragon,Real bones which are said to have belonged to ...,"{'lat': 50.054705, 'lng': 19.935433}"

In [44]:
rou_url = 'https://www.atlasobscura.com/things-to-do/romania'
browser.visit(rou_url)
html = browser.html
soup = bs(html, 'html.parser')
rou_sub = soup.find_all('script')
rou_strip = rou_sub[35].string.replace('\n','').strip()
rou_dat = json.loads(rou_strip[27:-1])
roudf = pd.DataFrame(rou_dat['places'])
roudf = roudf.head(5)
roudf = roudf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
roudf = roudf[["country", "city", "title", "subtitle", "coordinates"]]

In [45]:
roudf

,country,city,title,subtitle,coordinates
0,Romania,Hunedoara,Corvin Castle,This Romanian fairytale castle would make Drac...,"{'lat': 45.748936, 'lng': 22.891545}"
1,Romania,Caraș-Severin,Bigar Waterfall,Moss and stone turn this waterfall into an oth...,"{'lat': 45.006318, 'lng': 21.959617}"
2,Romania,Turda,Salina Turda,This massive underground salt mine now holds a...,"{'lat': 46.587686, 'lng': 23.787665}"
3,Romania,Cluj-Napoca,Hoia-Baciu Forest,Some call this eerie forest of crooked trees t...,"{'lat': 46.775669, 'lng': 23.520956}"
4,Romania,Sinaia,Peleș Castle,"This elaborately decorated, fairytale-like Rom...","{'lat': 45.359947, 'lng': 25.542671}"

In [46]:
rus_url = 'https://www.atlasobscura.com/things-to-do/russia'
browser.visit(rus_url)
html = browser.html
soup = bs(html, 'html.parser')
rus_sub = soup.find_all('script')
rus_strip = rus_sub[35].string.replace('\n','').strip()
rus_dat = json.loads(rus_strip[27:-1])
rusdf = pd.DataFrame(rus_dat['places'])
rusdf = rusdf.head(5)
rusdf = rusdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
rusdf = rusdf[["country", "city", "title", "subtitle", "coordinates"]]

In [47]:
rusdf

,country,city,title,subtitle,coordinates
0,Russia,Dargavs,Dargavs Village: City of the Dead,This ancient village and its adjoining cemeter...,"{'lat': 42.841499, 'lng': 44.445241}"
1,Russia,Moscow,Bunker-42,Dr. Strangelove-esque tours inside a bunker un...,"{'lat': 55.741737, 'lng': 37.649327}"
2,Russia,Moscow,Izmailovo Kremlin,"Moscow's other, lesser known kremlin is a fair...","{'lat': 55.793948, 'lng': 37.750949}"
3,Russia,Moscow,Lenin's Mausoleum,Embalmed remains of the leader of the Bolshevi...,"{'lat': 55.753222, 'lng': 37.621505}"
4,Russia,Yekaterinburg,Psychedelic Salt Mines,It's hard to believe the dizzying patterns cov...,"{'lat': 56.833333, 'lng': 60.583333}"

In [48]:
svn_url = 'https://www.atlasobscura.com/things-to-do/slovenia'
browser.visit(svn_url)
html = browser.html
soup = bs(html, 'html.parser')
svn_sub = soup.find_all('script')
svn_strip = svn_sub[39].string.replace('\n','').strip()
svn_dat = json.loads(svn_strip[27:-1])
svndf = pd.DataFrame(svn_dat['places'])
svndf = svndf.head(5)
svndf = svndf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
svndf = svndf[["country", "city", "title", "subtitle", "coordinates"]]

In [49]:
svndf

,country,city,title,subtitle,coordinates
0,Slovenia,Predjama,Predjama Castle,Castle and secret tunnel withstood a siege unt...,"{'lat': 45.815847, 'lng': 14.126716}"
1,Slovenia,Matavun,Skocjan Caves,This massive subterranean fissure is known as ...,"{'lat': 45.665804, 'lng': 13.989979}"
2,Slovenia,Bled,Bled Island and Castle,This one-time health resort was used by aristo...,"{'lat': 46.363156, 'lng': 14.089901}"
3,Slovenia,Postojna,Postojna caves,A miniature train-ride through Slovenia's larg...,"{'lat': 45.782263, 'lng': 14.20448}"
4,Slovenia,Ljubljana,Dragon Bridge,A whimsical bridge adorned with decorative dra...,"{'lat': 46.051947, 'lng': 14.510241}"

In [50]:
esp_url = 'https://www.atlasobscura.com/things-to-do/spain'
browser.visit(esp_url)
html = browser.html
soup = bs(html, 'html.parser')
esp_sub = soup.find_all('script')
esp_strip = esp_sub[35].string.replace('\n','').strip()
esp_dat = json.loads(esp_strip[27:-1])
espdf = pd.DataFrame(esp_dat['places'])
espdf = espdf.head(5)
espdf = espdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
espdf = espdf[["country", "city", "title", "subtitle", "coordinates"]]

In [51]:
espdf

,country,city,title,subtitle,coordinates
0,Spain,Barcelona,Sagrada Família,Construction of Barcelona's iconic (but contro...,"{'lat': 41.403629, 'lng': 2.174356}"
1,Spain,Barcelona,Casa Batlló,One of Antoni Gaudí's most classic buildings i...,"{'lat': 41.391697, 'lng': 2.164961}"
2,Spain,Barcelona,Labyrinth Park of Horta,This semi-secret storybook hedge maze is also ...,"{'lat': 41.437879, 'lng': 2.147612}"
3,Spain,Ronda,"Ronda, Spain",Three bridges and one giant canyon make up thi...,"{'lat': 36.7404, 'lng': -5.1644}"
4,Spain,Barcelona,Calder Mercury Fountain,A beautiful but toxic fountain of mercury.,"{'lat': 41.36863, 'lng': 2.159872}"

In [52]:
che_url = 'https://www.atlasobscura.com/things-to-do/switzerland'
browser.visit(che_url)
html = browser.html
soup = bs(html, 'html.parser')
che_sub = soup.find_all('script')
che_strip = che_sub[35].string.replace('\n','').strip()
che_dat = json.loads(che_strip[27:-1])
chedf = pd.DataFrame(che_dat['places'])
chedf = chedf.head(5)
chedf = chedf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
chedf = chedf[["country", "city", "title", "subtitle", "coordinates"]]

In [53]:
chedf

,country,city,title,subtitle,coordinates
0,Switzerland,Gruyères,H.R. Giger Museum,"The bizarre visions of H.R. Giger, tucked away...","{'lat': 46.584592, 'lng': 7.082992}"
1,Switzerland,Wasserauen,Berggasthaus Aescher Wildkirchli,This 170-year-old Swiss guesthouse built into ...,"{'lat': 47.283251, 'lng': 9.411698}"
2,Switzerland,Ennetbürgen,Hammetschwand Elevator,The tallest outdoor elevator in Europe rockets...,"{'lat': 47.001111, 'lng': 8.396389}"
3,Switzerland,Gadmen,Trift Bridge,This amazing pedestrian suspension bridge in t...,"{'lat': 46.694192, 'lng': 8.357559}"
4,Switzerland,Beatenberg,St. Beatus Cave,Caves famous for the dragon-slaying saint who ...,"{'lat': 46.684364, 'lng': 7.782612}"

In [54]:
tur_url = 'https://www.atlasobscura.com/things-to-do/turkey'
browser.visit(tur_url)
html = browser.html
soup = bs(html, 'html.parser')
tur_sub = soup.find_all('script')
tur_strip = tur_sub[35].string.replace('\n','').strip()
tur_dat = json.loads(tur_strip[27:-1])
turdf = pd.DataFrame(tur_dat['places'])
turdf = turdf.head(5)
turdf = turdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
turdf = turdf[["country", "city", "title", "subtitle", "coordinates"]]

In [55]:
turdf

,country,city,title,subtitle,coordinates
0,Turkey,Aksaray,Cappadocia,"In this historic region, homes and churches ar...","{'lat': 38.417445, 'lng': 34.138185}"
1,Turkey,Denizli,Pamukkale Water Terraces,Roman ruins top white travertine terraces form...,"{'lat': 37.773527, 'lng': 29.08649}"
2,Turkey,Istanbul,Basilica Cisterns of Istanbul,A marvel of Byzantine engineering under the st...,"{'lat': 41.008382, 'lng': 28.977883}"
3,Turkey,Fethiye,Lycian Rock Tombs,These tombs were built into the side of a moun...,"{'lat': 36.618561, 'lng': 29.116751}"
4,Turkey,Demre,Myra Necropolis,A Lycian city of the dead carved into the hill...,"{'lat': 36.259061, 'lng': 29.985175}"

In [56]:
usa_url = 'https://www.atlasobscura.com/things-to-do/new-york'
browser.visit(usa_url)
html = browser.html
soup = bs(html, 'html.parser')
usa_sub = soup.find_all('script')
usa_strip = usa_sub[35].string.replace('\n','').strip()
usa_dat = json.loads(usa_strip[27:-1])
usadf = pd.DataFrame(usa_dat['places'])
usadf = usadf.head(5)
usadf = usadf.drop(['location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
usadf = usadf[["country", "city", "title", "subtitle", "coordinates"]]

In [57]:
usadf

,country,city,title,subtitle,coordinates
0,United States,New York,City Hall Station,A beautiful and abandoned New York subway stat...,"{'lat': 40.71335, 'lng': -74.00458}"
1,United States,New York,The Evolution Store,A terrific purveyor of natural history objects...,"{'lat': 40.728138, 'lng': -73.9948}"
2,United States,New York,Dream House,"La Monte Young and Marian Zazeela's ""Dream Hou...","{'lat': 40.718463, 'lng': -74.004784}"
3,United States,New York,Roosevelt Island Smallpox Hospital Ruins,A crumbling hospital from the 1850s on Rooseve...,"{'lat': 40.751528, 'lng': -73.959623}"
4,United States,New York,Mmuseumm,A tiny museum housed in a New York freight ele...,"{'lat': 40.717457, 'lng': -74.002675}"

In [ ]:
#MongoDB Connection & DB Creationb

In [64]:
conn = 'mongodb+srv://user1:1234@cluster0.oi7pu.mongodb.net/turismo?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)
db = client['tourismDB']
collectionAtlas=db['Atlas']

In [65]:
aus_dict = ausdf.to_dict('records')
collectionAtlas.insert_many(aus_dict)

In [66]:


aut_dict = autdf.to_dict('records')
collectionAtlas.insert_many(aut_dict)

col_dict = coldf.to_dict('records')
collectionAtlas.insert_many(col_dict)

cri_dict = cridf.to_dict('records')
collectionAtlas.insert_many(cri_dict)

hrv_dict = hrvdf.to_dict('records')
collectionAtlas.insert_many(hrv_dict)

est_dict = estdf.to_dict('records')
collectionAtlas.insert_many(est_dict)

fra_dict = fradf.to_dict('records')
collectionAtlas.insert_many(fra_dict)

deu_dict = deudf.to_dict('records')
collectionAtlas.insert_many(deu_dict)

grc_dict = grcdf.to_dict('records')
collectionAtlas.insert_many(grc_dict)

hun_dict = hundf.to_dict('records')
collectionAtlas.insert_many(hun_dict)

hun_dict = hundf.to_dict('records')
collectionAtlas.insert_many(hun_dict)

ita_dict = itadf.to_dict('records')
collectionAtlas.insert_many(ita_dict)

lva_dict = lvadf.to_dict('records')
collectionAtlas.insert_many(lva_dict)

ltu_dict = ltudf.to_dict('records')
collectionAtlas.insert_many(ltu_dict)

mlt_dict = mltdf.to_dict('records')
collectionAtlas.insert_many(mlt_dict)

nld_dict = nlddf.to_dict('records')
collectionAtlas.insert_many(nld_dict)

nzl_dict = nzldf.to_dict('records')
collectionAtlas.insert_many(nzl_dict)

nor_dict = nordf.to_dict('records')
collectionAtlas.insert_many(nor_dict)

per_dict = perdf.to_dict('records')
collectionAtlas.insert_many(per_dict)

pol_dict = poldf.to_dict('records')
collectionAtlas.insert_many(pol_dict)

rou_dict = roudf.to_dict('records')
collectionAtlas.insert_many(rou_dict)

rus_dict = rusdf.to_dict('records')
collectionAtlas.insert_many(rus_dict)

svn_dict = svndf.to_dict('records')
collectionAtlas.insert_many(svn_dict)

esp_dict = espdf.to_dict('records')
collectionAtlas.insert_many(esp_dict)

che_dict = chedf.to_dict('records')
collectionAtlas.insert_many(che_dict)

tur_dict = turdf.to_dict('records')
collectionAtlas.insert_many(tur_dict)

usa_dict = usadf.to_dict('records')
collectionAtlas.insert_many(usa_dict)

In [63]:
browser.quit()

In [ ]:
australia = pd.read_excel (r'./oecd_data/australia.xlsx')
australia.drop(australia.columns[0], axis=1, inplace=True)
australia.columns.values[0] = "Domestic, inbound and outbound tourism"
australia.columns.values[1] = "2014"
australia.columns.values[2] = "2015"
australia.columns.values[3] = "2016"
australia.columns.values[4] = "2017"
australia.columns.values[5] = "2018"
australia.drop(australia.index[0:7], inplace = True)

In [ ]:
australia

In [ ]:
austria = pd.read_excel (r'./oecd_data/austria.xlsx')
austria.drop(austria.columns[0], axis=1, inplace=True)
austria.columns.values[0] = "Domestic, inbound and outbound tourism"
austria.columns.values[1] = "2014"
austria.columns.values[2] = "2015"
austria.columns.values[3] = "2016"
austria.columns.values[4] = "2017"
austria.columns.values[5] = "2018"
austria.drop(austria.index[0:7], inplace = True)

In [ ]:
austria

In [ ]:
colombia = pd.read_excel (r'./oecd_data/colombia.xlsx')
colombia.drop(colombia.columns[0], axis=1, inplace=True)
colombia.columns.values[0] = "Domestic, inbound and outbound tourism"
colombia.columns.values[1] = "2014"
colombia.columns.values[2] = "2015"
colombia.columns.values[3] = "2016"
colombia.columns.values[4] = "2017"
colombia.columns.values[5] = "2018"
colombia.drop(colombia.index[0:7], inplace = True)

In [ ]:
costa_rica = pd.read_excel (r'./oecd_data/costa_rica.xlsx')
costa_rica.drop(costa_rica.columns[0], axis=1, inplace=True)
costa_rica.columns.values[0] = "Domestic, inbound and outbound tourism"
costa_rica.columns.values[1] = "2014"
costa_rica.columns.values[2] = "2015"
costa_rica.columns.values[3] = "2016"
costa_rica.columns.values[4] = "2017"
costa_rica.columns.values[5] = "2018"
costa_rica.drop(costa_rica.index[0:7], inplace = True)

In [ ]:
croatia = pd.read_excel (r'./oecd_data/croatia.xlsx')
croatia.drop(croatia.columns[0], axis=1, inplace=True)
croatia.columns.values[0] = "Domestic, inbound and outbound tourism"
croatia.columns.values[1] = "2014"
croatia.columns.values[2] = "2015"
croatia.columns.values[3] = "2016"
croatia.columns.values[4] = "2017"
croatia.columns.values[5] = "2018"
croatia.drop(croatia.index[0:7], inplace = True)

In [ ]:
estonia = pd.read_excel (r'./oecd_data/estonia.xlsx')
estonia.drop(estonia.columns[0], axis=1, inplace=True)
estonia.columns.values[0] = "Domestic, inbound and outbound tourism"
estonia.columns.values[1] = "2014"
estonia.columns.values[2] = "2015"
estonia.columns.values[3] = "2016"
estonia.columns.values[4] = "2017"
estonia.columns.values[5] = "2018"
estonia.drop(estonia.index[0:7], inplace = True)

In [ ]:
finland = pd.read_excel (r'./oecd_data/finland.xlsx')
finland.drop(finland.columns[0], axis=1, inplace=True)
finland.columns.values[0] = "Domestic, inbound and outbound tourism"
finland.columns.values[1] = "2014"
finland.columns.values[2] = "2015"
finland.columns.values[3] = "2016"
finland.columns.values[4] = "2017"
finland.columns.values[5] = "2018"
finland.drop(finland.index[0:7], inplace = True)

In [ ]:
france = pd.read_excel (r'./oecd_data/france.xlsx')
france.drop(france.columns[0], axis=1, inplace=True)
france.columns.values[0] = "Domestic, inbound and outbound tourism"
france.columns.values[1] = "2014"
france.columns.values[2] = "2015"
france.columns.values[3] = "2016"
france.columns.values[4] = "2017"
france.columns.values[5] = "2018"
france.drop(france.index[0:7], inplace = True)

In [ ]:
germany = pd.read_excel (r'./oecd_data/germany.xlsx')
germany.drop(germany.columns[0], axis=1, inplace=True)
germany.columns.values[0] = "Domestic, inbound and outbound tourism"
germany.columns.values[1] = "2014"
germany.columns.values[2] = "2015"
germany.columns.values[3] = "2016"
germany.columns.values[4] = "2017"
germany.columns.values[5] = "2018"
germany.drop(germany.index[0:7], inplace = True)

In [ ]:
greece = pd.read_excel (r'./oecd_data/greece.xlsx')
greece.drop(greece.columns[0], axis=1, inplace=True)
greece.columns.values[0] = "Domestic, inbound and outbound tourism"
greece.columns.values[1] = "2014"
greece.columns.values[2] = "2015"
greece.columns.values[3] = "2016"
greece.columns.values[4] = "2017"
greece.columns.values[5] = "2018"
greece.drop(greece.index[0:7], inplace = True)

In [ ]:
hungary = pd.read_excel (r'./oecd_data/hungary.xlsx')
hungary.drop(hungary.columns[0], axis=1, inplace=True)
hungary.columns.values[0] = "Domestic, inbound and outbound tourism"
hungary.columns.values[1] = "2014"
hungary.columns.values[2] = "2015"
hungary.columns.values[3] = "2016"
hungary.columns.values[4] = "2017"
hungary.columns.values[5] = "2018"
hungary.drop(hungary.index[0:7], inplace = True)

In [ ]:
italy = pd.read_excel (r'./oecd_data/italy.xlsx')
italy.drop(italy.columns[0], axis=1, inplace=True)
italy.columns.values[0] = "Domestic, inbound and outbound tourism"
italy.columns.values[1] = "2014"
italy.columns.values[2] = "2015"
italy.columns.values[3] = "2016"
italy.columns.values[4] = "2017"
italy.columns.values[5] = "2018"
italy.drop(italy.index[0:7], inplace = True)

In [ ]:
latvia = pd.read_excel (r'./oecd_data/latvia.xlsx')
latvia.drop(latvia.columns[0], axis=1, inplace=True)
latvia.columns.values[0] = "Domestic, inbound and outbound tourism"
latvia.columns.values[1] = "2014"
latvia.columns.values[2] = "2015"
latvia.columns.values[3] = "2016"
latvia.columns.values[4] = "2017"
latvia.columns.values[5] = "2018"
latvia.drop(latvia.index[0:7], inplace = True)

In [ ]:
lithuania = pd.read_excel (r'./oecd_data/lithuania.xlsx')
lithuania.drop(lithuania.columns[0], axis=1, inplace=True)
lithuania.columns.values[0] = "Domestic, inbound and outbound tourism"
lithuania.columns.values[1] = "2014"
lithuania.columns.values[2] = "2015"
lithuania.columns.values[3] = "2016"
lithuania.columns.values[4] = "2017"
lithuania.columns.values[5] = "2018"
lithuania.drop(lithuania.index[0:7], inplace = True)

In [ ]:
malta = pd.read_excel (r'./oecd_data/malta.xlsx')
malta.drop(malta.columns[0], axis=1, inplace=True)
malta.columns.values[0] = "Domestic, inbound and outbound tourism"
malta.columns.values[1] = "2014"
malta.columns.values[2] = "2015"
malta.columns.values[3] = "2016"
malta.columns.values[4] = "2017"
malta.columns.values[5] = "2018"
malta.drop(malta.index[0:7], inplace = True)

In [ ]:
netherlands = pd.read_excel (r'./oecd_data/netherlands.xlsx')
netherlands.drop(netherlands.columns[0], axis=1, inplace=True)
netherlands.columns.values[0] = "Domestic, inbound and outbound tourism"
netherlands.columns.values[1] = "2014"
netherlands.columns.values[2] = "2015"
netherlands.columns.values[3] = "2016"
netherlands.columns.values[4] = "2017"
netherlands.columns.values[5] = "2018"
netherlands.drop(netherlands.index[0:7], inplace = True)

In [ ]:
new_zealand = pd.read_excel (r'./oecd_data/new_zealand.xlsx')
new_zealand.drop(new_zealand.columns[0], axis=1, inplace=True)
new_zealand.columns.values[0] = "Domestic, inbound and outbound tourism"
new_zealand.columns.values[1] = "2014"
new_zealand.columns.values[2] = "2015"
new_zealand.columns.values[3] = "2016"
new_zealand.columns.values[4] = "2017"
new_zealand.columns.values[5] = "2018"
new_zealand.drop(new_zealand.index[0:7], inplace = True)

In [ ]:
norway = pd.read_excel (r'./oecd_data/norway.xlsx')
norway.drop(norway.columns[0], axis=1, inplace=True)
norway.columns.values[0] = "Domestic, inbound and outbound tourism"
norway.columns.values[1] = "2014"
norway.columns.values[2] = "2015"
norway.columns.values[3] = "2016"
norway.columns.values[4] = "2017"
norway.columns.values[5] = "2018"
norway.drop(norway.index[0:7], inplace = True)

In [ ]:
peru = pd.read_excel (r'./oecd_data/peru.xlsx')
peru.drop(peru.columns[0], axis=1, inplace=True)
peru.columns.values[0] = "Domestic, inbound and outbound tourism"
peru.columns.values[1] = "2014"
peru.columns.values[2] = "2015"
peru.columns.values[3] = "2016"
peru.columns.values[4] = "2017"
peru.columns.values[5] = "2018"
peru.drop(peru.index[0:7], inplace = True)

In [ ]:
poland = pd.read_excel (r'./oecd_data/poland.xlsx')
poland.drop(poland.columns[0], axis=1, inplace=True)
poland.columns.values[0] = "Domestic, inbound and outbound tourism"
poland.columns.values[1] = "2014"
poland.columns.values[2] = "2015"
poland.columns.values[3] = "2016"
poland.columns.values[4] = "2017"
poland.columns.values[5] = "2018"
poland.drop(poland.index[0:7], inplace = True)

In [ ]:
romania = pd.read_excel (r'./oecd_data/romania.xlsx')
romania.drop(romania.columns[0], axis=1, inplace=True)
romania.columns.values[0] = "Domestic, inbound and outbound tourism"
romania.columns.values[1] = "2014"
romania.columns.values[2] = "2015"
romania.columns.values[3] = "2016"
romania.columns.values[4] = "2017"
romania.columns.values[5] = "2018"
romania.drop(romania.index[0:7], inplace = True)

In [ ]:
russia = pd.read_excel (r'./oecd_data/russia.xlsx')
russia.drop(russia.columns[0], axis=1, inplace=True)
russia.columns.values[0] = "Domestic, inbound and outbound tourism"
russia.columns.values[1] = "2014"
russia.columns.values[2] = "2015"
russia.columns.values[3] = "2016"
russia.columns.values[4] = "2017"
russia.columns.values[5] = "2018"
russia.drop(russia.index[0:7], inplace = True)

In [ ]:
slovenia = pd.read_excel (r'./oecd_data/slovenia.xlsx')
slovenia.drop(slovenia.columns[0], axis=1, inplace=True)
slovenia.columns.values[0] = "Domestic, inbound and outbound tourism"
slovenia.columns.values[1] = "2014"
slovenia.columns.values[2] = "2015"
slovenia.columns.values[3] = "2016"
slovenia.columns.values[4] = "2017"
slovenia.columns.values[5] = "2018"
slovenia.drop(slovenia.index[0:7], inplace = True)

In [ ]:
spain = pd.read_excel (r'./oecd_data/spain.xlsx')
spain.drop(spain.columns[0], axis=1, inplace=True)
spain.columns.values[0] = "Domestic, inbound and outbound tourism"
spain.columns.values[1] = "2014"
spain.columns.values[2] = "2015"
spain.columns.values[3] = "2016"
spain.columns.values[4] = "2017"
spain.columns.values[5] = "2018"
spain.drop(spain.index[0:7], inplace = True)

In [ ]:
switzerland = pd.read_excel (r'./oecd_data/switzerland.xlsx')
switzerland.drop(switzerland.columns[0], axis=1, inplace=True)
switzerland.columns.values[0] = "Domestic, inbound and outbound tourism"
switzerland.columns.values[1] = "2014"
switzerland.columns.values[2] = "2015"
switzerland.columns.values[3] = "2016"
switzerland.columns.values[4] = "2017"
switzerland.columns.values[5] = "2018"
switzerland.drop(switzerland.index[0:7], inplace = True)

In [ ]:
turkey = pd.read_excel (r'./oecd_data/turkey.xlsx')
turkey.drop(turkey.columns[0], axis=1, inplace=True)
turkey.columns.values[0] = "Domestic, inbound and outbound tourism"
turkey.columns.values[1] = "2014"
turkey.columns.values[2] = "2015"
turkey.columns.values[3] = "2016"
turkey.columns.values[4] = "2017"
turkey.columns.values[5] = "2018"
turkey.drop(turkey.index[0:7], inplace = True)

In [ ]:
united_states = pd.read_excel (r'./oecd_data/united_states.xlsx')
united_states.drop(united_states.columns[0], axis=1, inplace=True)
united_states.columns.values[0] = "Domestic, inbound and outbound tourism"
united_states.columns.values[1] = "2014"
united_states.columns.values[2] = "2015"
united_states.columns.values[3] = "2016"
united_states.columns.values[4] = "2017"
united_states.columns.values[5] = "2018"
united_states.drop(united_states.index[0:7], inplace = True)

In [ ]:
def number_list(list_i):
    var_def=list_i
    var_def=np.nan_to_num(var_def).tolist()
    
    for i in range(len(var_def)):
        element=var_def[i]
        try:
            new_element=float(element)
        except:
            if isinstance(element, int):
                new_element=float(element)
            elif isinstance(element, str):
                new_element=0
        
        var_def[i]
    
    var_def=[float(x) for x in var_def ]
    var_def=np.nan_to_num(var_def).tolist()
        
    return var_def

In [ ]:
australia= australia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
australia= australia.set_index('Domestic, inbound and outbound tourism')
austria= austria.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
austria= austria.set_index('Domestic, inbound and outbound tourism')
colombia= colombia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
colombia= colombia.set_index('Domestic, inbound and outbound tourism')
costa_rica= costa_rica.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
costa_rica= costa_rica.set_index('Domestic, inbound and outbound tourism')
croatia= croatia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
croatia= croatia.set_index('Domestic, inbound and outbound tourism')
estonia= estonia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
estonia= estonia.set_index('Domestic, inbound and outbound tourism')
finland= finland.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
finland= finland.set_index('Domestic, inbound and outbound tourism')
france= france.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
france= france.set_index('Domestic, inbound and outbound tourism')
germany= germany.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
germany= germany.set_index('Domestic, inbound and outbound tourism')
greece= greece.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
greece= greece.set_index('Domestic, inbound and outbound tourism')
hungary= hungary.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
hungary= hungary.set_index('Domestic, inbound and outbound tourism')
italy= italy.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
italy= italy.set_index('Domestic, inbound and outbound tourism')
latvia= latvia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49])
latvia= latvia.set_index('Domestic, inbound and outbound tourism')
malta= malta.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
malta= malta.set_index('Domestic, inbound and outbound tourism')
netherlands= netherlands.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
netherlands= netherlands.set_index('Domestic, inbound and outbound tourism')
new_zealand= new_zealand.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
new_zealand= new_zealand.set_index('Domestic, inbound and outbound tourism')
norway= norway.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
norway= norway.set_index('Domestic, inbound and outbound tourism')
peru= peru.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
peru= peru.set_index('Domestic, inbound and outbound tourism')
poland= poland.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
poland= poland.set_index('Domestic, inbound and outbound tourism')
romania= romania.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
romania= romania.set_index('Domestic, inbound and outbound tourism')
russia= russia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
russia= russia.set_index('Domestic, inbound and outbound tourism')
slovenia= slovenia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
slovenia= slovenia.set_index('Domestic, inbound and outbound tourism')
spain= spain.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
spain= spain.set_index('Domestic, inbound and outbound tourism')
switzerland= switzerland.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
switzerland= switzerland.set_index('Domestic, inbound and outbound tourism')
turkey= turkey.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
turkey= turkey.set_index('Domestic, inbound and outbound tourism')
united_states= united_states.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
united_states= united_states.set_index('Domestic, inbound and outbound tourism')

In [ ]:
australia.reset_index(inplace=True)

In [ ]:
countries = db['OECD']

In [ ]:
australia.insert(0, 'Country', 'Australia')

In [ ]:
australia

In [ ]:
australia_dict = australia.to_dict('records')

In [ ]:
austria.reset_index(inplace=True)
austria.insert(0, 'Country', 'Austria')
austria_dict = austria.to_dict('records')
austria_dict

In [ ]:
australia_dict

In [ ]:
countries = db['OECD']
#australia_dict = australia.to_dict('dict')
countries.insert_many(australia_dict)

In [ ]:
#!jupyter nbconvert --to script atlas_obscura_scraper.ipynb