In [1]:
#Import dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import json
import pymongo
import dns
from webdriver_manager.chrome import ChromeDriverManager

ModuleNotFoundError: No module named 'bson.py3compat'

In [2]:
#Testing Scraping via web browser
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [/Users/sergiomejia/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [3]:
aus_url = 'https://www.atlasobscura.com/things-to-do/australia'
browser.visit(aus_url)
html = browser.html
soup = bs(html, 'html.parser')
aus_sub = soup.find_all('script')
aus_strip = aus_sub[35].string.replace('\n','').strip()
aus_dat = json.loads(aus_strip[27:-1])
ausdf = pd.DataFrame(aus_dat['places'])
ausdf = ausdf.head(5)
ausdf = ausdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
ausdf = ausdf[["country", "city", "title", "subtitle", "coordinates"]]

In [4]:
ausdf

,country,city,title,subtitle,coordinates
0,Australia,,Lake Hillier,An Australian lake whose pink hue defies scien...,"{'lat': -34.094179, 'lng': 123.203276}"
1,Australia,Helensburgh,Glowworm Tunnel,An abandoned railroad tunnel is now filled wit...,"{'lat': -34.178988, 'lng': 150.992816}"
2,Australia,Raymond Island,Gippsland Lakes Bioluminescence,Australian Lake set aglow by Noctiluca Scintil...,"{'lat': -37.922431, 'lng': 147.791342}"
3,Australia,Mena Creek,Paronella Park,A castle hand built by a Spanish dreamer in th...,"{'lat': -17.656694, 'lng': 145.956253}"
4,Australia,Putty,Newnes Glow Worm Tunnel,"Once the path of a railway tunnel, now home to...","{'lat': -32.873889, 'lng': 150.4922}"

In [5]:
aut_url = 'https://www.atlasobscura.com/things-to-do/austria'
browser.visit(aut_url)
html = browser.html
soup = bs(html, 'html.parser')
aut_sub = soup.find_all('script')
aut_strip = aut_sub[35].string.replace('\n','').strip()
aut_dat = json.loads(aut_strip[27:-1])
autdf = pd.DataFrame(aut_dat['places'])
autdf = autdf.head(5)
autdf = autdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
autdf = autdf[["country", "city", "title", "subtitle", "coordinates"]]

In [6]:
autdf

,country,city,title,subtitle,coordinates
0,Austria,Vienna,Österreichische Nationalbibliothek (Austrian N...,The beautiful baroque library of the Hapsburg ...,"{'lat': 48.206002, 'lng': 16.367297}"
1,Austria,Vienna,Stephansdom Crypt,The crypt of the imposing Stephensdom holds ro...,"{'lat': 48.208016, 'lng': 16.372923}"
2,Austria,Vienna,Clock Museum,"A small museum filled with over 1,000 clocks, ...","{'lat': 48.210828, 'lng': 16.369329}"
3,Austria,Vienna,Habsburg Imperial Crypt,The final resting place for the remains of 143...,"{'lat': 48.20554, 'lng': 16.369939}"
4,Austria,Vienna,Schmetterlinghaus: The Imperial Butterfly Park,A tropical paradise just a short trip from the...,"{'lat': 48.205345, 'lng': 16.366601}"

In [7]:
col_url = 'https://www.atlasobscura.com/things-to-do/colombia'
browser.visit(col_url)
html = browser.html
soup = bs(html, 'html.parser')
col_sub = soup.find_all('script')
col_strip = col_sub[35].string.replace('\n','').strip()
col_dat = json.loads(col_strip[27:-1])
coldf = pd.DataFrame(col_dat['places'])
coldf = coldf.head(5)
coldf = coldf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
coldf = coldf[["country", "city", "title", "subtitle", "coordinates"]]

In [8]:
coldf

,country,city,title,subtitle,coordinates
0,Colombia,Vista Hermosa,Caño Cristales,"An explosion of natural color known as ""the ri...","{'lat': 2.264193, 'lng': -73.794469}"
1,Colombia,Nariño,Las Lajas Sanctuary,A dangling church built over a Colombian gorge.,"{'lat': 0.805495, 'lng': -77.581687}"
2,Colombia,San Antonio del Tequendama,Tequendama Falls Museum,This picturesque mansion has gone from opulent...,"{'lat': 4.616667, 'lng': -74.35}"
3,Colombia,Guatape,Guatapé,The Andean town where every single building is...,"{'lat': 6.231137, 'lng': -75.153467}"
4,Colombia,Jardín,Cave of Splendor,Enchanting cave with a river crashing through ...,"{'lat': 5.599205, 'lng': -75.819349}"

In [11]:
cri_url = 'https://www.atlasobscura.com/things-to-do/costa-rica'
browser.visit(cri_url)
html = browser.html
soup = bs(html, 'html.parser')
cri_sub = soup.find_all('script')
cri_strip = cri_sub[39].string.replace('\n','').strip()
cri_dat = json.loads(cri_strip[27:-1])
cridf = pd.DataFrame(cri_dat['places'])
cridf = cridf.head(5)
cridf = cridf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
cridf = cridf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
cridf

In [12]:
hrv_url = 'https://www.atlasobscura.com/things-to-do/croatia'
browser.visit(hrv_url)
html = browser.html
soup = bs(html, 'html.parser')
hrv_sub = soup.find_all('script')
hrv_strip = hrv_sub[35].string.replace('\n','').strip()
hrv_dat = json.loads(hrv_strip[27:-1])
hrvdf = pd.DataFrame(hrv_dat['places'])
hrvdf = hrvdf.head(5)
hrvdf = hrvdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
hrvdf = hrvdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
hrvdf

In [13]:
est_url = 'https://www.atlasobscura.com/things-to-do/estonia'
browser.visit(est_url)
html = browser.html
soup = bs(html, 'html.parser')
est_sub = soup.find_all('script')
est_strip = est_sub[35].string.replace('\n','').strip()
est_dat = json.loads(est_strip[27:-1])
estdf = pd.DataFrame(est_dat['places'])
estdf = estdf.head(5)
estdf = estdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
estdf = estdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
fin_url = 'https://www.atlasobscura.com/things-to-do/finland'
browser.visit(fin_url)
html = browser.html
soup = bs(html, 'html.parser')
fin_sub = soup.find_all('script')
fin_strip = fin_sub[35].string.replace('\n','').strip()
fin_dat = json.loads(fin_strip[27:-1])
findf = pd.DataFrame(fin_dat['places'])
findf = findf.head(5)
findf = findf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
findf = findf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
findf

In [ ]:
fra_url = 'https://www.atlasobscura.com/things-to-do/france'
browser.visit(fra_url)
html = browser.html
soup = bs(html, 'html.parser')
fra_sub = soup.find_all('script')
fra_strip = fra_sub[35].string.replace('\n','').strip()
fra_dat = json.loads(fra_strip[27:-1])
fradf = pd.DataFrame(fra_dat['places'])
fradf = fradf.head(5)
fradf = fradf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
fradf = fradf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
fradf

In [ ]:
deu_url = 'https://www.atlasobscura.com/things-to-do/germany'
browser.visit(deu_url)
html = browser.html
soup = bs(html, 'html.parser')
deu_sub = soup.find_all('script')
deu_strip = deu_sub[35].string.replace('\n','').strip()
deu_dat = json.loads(deu_strip[27:-1])
deudf = pd.DataFrame(deu_dat['places'])
deudf = deudf.head(5)
deudf = deudf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
deudf = deudf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
deudf

In [ ]:
grc_url = 'https://www.atlasobscura.com/things-to-do/greece'
browser.visit(grc_url)
html = browser.html
soup = bs(html, 'html.parser')
grc_sub = soup.find_all('script')
grc_strip = grc_sub[35].string.replace('\n','').strip()
grc_dat = json.loads(grc_strip[27:-1])
grcdf = pd.DataFrame(grc_dat['places'])
grcdf = grcdf.head(5)
grcdf = grcdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
grcdf = grcdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
grcdf

In [ ]:
hun_url = 'https://www.atlasobscura.com/things-to-do/hungary'
browser.visit(hun_url)
html = browser.html
soup = bs(html, 'html.parser')
hun_sub = soup.find_all('script')
hun_strip = hun_sub[35].string.replace('\n','').strip()
hun_dat = json.loads(hun_strip[27:-1])
hundf = pd.DataFrame(hun_dat['places'])
hundf = hundf.head(5)
hundf = hundf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
hundf = hundf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
hundf

In [ ]:
ita_url = 'https://www.atlasobscura.com/things-to-do/italy'
browser.visit(ita_url)
html = browser.html
soup = bs(html, 'html.parser')
ita_sub = soup.find_all('script')
ita_strip = ita_sub[35].string.replace('\n','').strip()
ita_dat = json.loads(ita_strip[27:-1])
itadf = pd.DataFrame(ita_dat['places'])
itadf = itadf.head(5)
itadf = itadf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
itadf = itadf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
itadf

In [ ]:
lva_url = 'https://www.atlasobscura.com/things-to-do/latvia'
browser.visit(lva_url)
html = browser.html
soup = bs(html, 'html.parser')
lva_sub = soup.find_all('script')
lva_strip = lva_sub[35].string.replace('\n','').strip()
lva_dat = json.loads(lva_strip[27:-1])
lvadf = pd.DataFrame(lva_dat['places'])
lvadf = lvadf.head(5)
lvadf = lvadf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
lvadf = lvadf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
lvadf

In [ ]:
ltu_url = 'https://www.atlasobscura.com/things-to-do/lithuania'
browser.visit(ltu_url)
html = browser.html
soup = bs(html, 'html.parser')
ltu_sub = soup.find_all('script')
ltu_strip = ltu_sub[35].string.replace('\n','').strip()
ltu_dat = json.loads(ltu_strip[27:-1])
ltudf = pd.DataFrame(ltu_dat['places'])
ltudf = ltudf.head(5)
ltudf = ltudf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
ltudf = ltudf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
ltudf

In [ ]:
mlt_url = 'https://www.atlasobscura.com/things-to-do/malta'
browser.visit(mlt_url)
html = browser.html
soup = bs(html, 'html.parser')
mlt_sub = soup.find_all('script')
mlt_strip = mlt_sub[39].string.replace('\n','').strip()
mlt_dat = json.loads(mlt_strip[27:-1])
mltdf = pd.DataFrame(mlt_dat['places'])
mltdf = mltdf.head(5)
mltdf = mltdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
mltdf = mltdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
mltdf

In [ ]:
nld_url = 'https://www.atlasobscura.com/things-to-do/netherlands'
browser.visit(nld_url)
html = browser.html
soup = bs(html, 'html.parser')
nld_sub = soup.find_all('script')
nld_strip = nld_sub[35].string.replace('\n','').strip()
nld_dat = json.loads(nld_strip[27:-1])
nlddf = pd.DataFrame(nld_dat['places'])
nlddf = nlddf.head(5)
nlddf = nlddf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
nlddf = nlddf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
nlddf

In [ ]:
nzl_url = 'https://www.atlasobscura.com/things-to-do/new-zealand'
browser.visit(nzl_url)
html = browser.html
soup = bs(html, 'html.parser')
nzl_sub = soup.find_all('script')
nzl_strip = nzl_sub[35].string.replace('\n','').strip()
nzl_dat = json.loads(nzl_strip[27:-1])
nzldf = pd.DataFrame(nzl_dat['places'])
nzldf = nzldf.head(5)
nzldf = nzldf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
nzldf = nzldf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
nzldf

In [ ]:
nor_url = 'https://www.atlasobscura.com/things-to-do/norway'
browser.visit(nor_url)
html = browser.html
soup = bs(html, 'html.parser')
nor_sub = soup.find_all('script')
nor_strip = nor_sub[35].string.replace('\n','').strip()
nor_dat = json.loads(nor_strip[27:-1])
nordf = pd.DataFrame(nor_dat['places'])
nordf = nordf.head(5)
nordf = nordf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
nordf = nordf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
nordf

In [ ]:
per_url = 'https://www.atlasobscura.com/things-to-do/peru'
browser.visit(per_url)
html = browser.html
soup = bs(html, 'html.parser')
per_sub = soup.find_all('script')
per_strip = per_sub[35].string.replace('\n','').strip()
per_dat = json.loads(per_strip[27:-1])
perdf = pd.DataFrame(per_dat['places'])
perdf = perdf.head(5)
perdf = perdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
perdf = perdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
perdf

In [ ]:
pol_url = 'https://www.atlasobscura.com/things-to-do/poland'
browser.visit(pol_url)
html = browser.html
soup = bs(html, 'html.parser')
pol_sub = soup.find_all('script')
pol_strip = pol_sub[35].string.replace('\n','').strip()
pol_dat = json.loads(pol_strip[27:-1])
poldf = pd.DataFrame(pol_dat['places'])
poldf = poldf.head(5)
poldf = poldf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
poldf = poldf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
poldf

In [ ]:
rou_url = 'https://www.atlasobscura.com/things-to-do/romania'
browser.visit(rou_url)
html = browser.html
soup = bs(html, 'html.parser')
rou_sub = soup.find_all('script')
rou_strip = rou_sub[35].string.replace('\n','').strip()
rou_dat = json.loads(rou_strip[27:-1])
roudf = pd.DataFrame(rou_dat['places'])
roudf = roudf.head(5)
roudf = roudf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
roudf = roudf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
roudf

In [ ]:
rus_url = 'https://www.atlasobscura.com/things-to-do/russia'
browser.visit(rus_url)
html = browser.html
soup = bs(html, 'html.parser')
rus_sub = soup.find_all('script')
rus_strip = rus_sub[35].string.replace('\n','').strip()
rus_dat = json.loads(rus_strip[27:-1])
rusdf = pd.DataFrame(rus_dat['places'])
rusdf = rusdf.head(5)
rusdf = rusdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
rusdf = rusdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
rusdf

In [ ]:
svn_url = 'https://www.atlasobscura.com/things-to-do/slovenia'
browser.visit(svn_url)
html = browser.html
soup = bs(html, 'html.parser')
svn_sub = soup.find_all('script')
svn_strip = svn_sub[39].string.replace('\n','').strip()
svn_dat = json.loads(svn_strip[27:-1])
svndf = pd.DataFrame(svn_dat['places'])
svndf = svndf.head(5)
svndf = svndf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
svndf = svndf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
svndf

In [ ]:
esp_url = 'https://www.atlasobscura.com/things-to-do/spain'
browser.visit(esp_url)
html = browser.html
soup = bs(html, 'html.parser')
esp_sub = soup.find_all('script')
esp_strip = esp_sub[35].string.replace('\n','').strip()
esp_dat = json.loads(esp_strip[27:-1])
espdf = pd.DataFrame(esp_dat['places'])
espdf = espdf.head(5)
espdf = espdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
espdf = espdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
espdf

In [ ]:
che_url = 'https://www.atlasobscura.com/things-to-do/switzerland'
browser.visit(che_url)
html = browser.html
soup = bs(html, 'html.parser')
che_sub = soup.find_all('script')
che_strip = che_sub[35].string.replace('\n','').strip()
che_dat = json.loads(che_strip[27:-1])
chedf = pd.DataFrame(che_dat['places'])
chedf = chedf.head(5)
chedf = chedf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
chedf = chedf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
chedf

In [ ]:
tur_url = 'https://www.atlasobscura.com/things-to-do/turkey'
browser.visit(tur_url)
html = browser.html
soup = bs(html, 'html.parser')
tur_sub = soup.find_all('script')
tur_strip = tur_sub[35].string.replace('\n','').strip()
tur_dat = json.loads(tur_strip[27:-1])
turdf = pd.DataFrame(tur_dat['places'])
turdf = turdf.head(5)
turdf = turdf.drop(['id','location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
turdf = turdf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
turdf

In [ ]:
usa_url = 'https://www.atlasobscura.com/things-to-do/new-york'
browser.visit(usa_url)
html = browser.html
soup = bs(html, 'html.parser')
usa_sub = soup.find_all('script')
usa_strip = usa_sub[35].string.replace('\n','').strip()
usa_dat = json.loads(usa_strip[27:-1])
usadf = pd.DataFrame(usa_dat['places'])
usadf = usadf.head(5)
usadf = usadf.drop(['location','url','thumbnail_url','hide_from_maps','outside_regional_bounds','google_maps_url'], axis =1)
usadf = usadf[["country", "city", "title", "subtitle", "coordinates"]]

In [ ]:
usadf

In [ ]:
#MongoDB Connection & DB Creation

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client['Tourism']

In [ ]:
#Collection creation and data loading into DB

In [ ]:
scrape = db['AtlasObscura']

In [ ]:
pip install dnspython

In [ ]:
import pymongo

In [ ]:
conn = 'mongodb+srv://user1:1234@cluster0.oi7pu.mongodb.net/turismo?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)
db = client['tourismDB']
collectionAtlas=db['tourismDB']

In [ ]:
aus_dict = ausdf.to_dict('records')
collectionAtlas.insert_many(aus_dict)

In [ ]:


aut_dict = autdf.to_dict('records')
scrape.insert_many(aut_dict)

col_dict = coldf.to_dict('records')
scrape.insert_many(col_dict)

cri_dict = cridf.to_dict('records')
scrape.insert_many(cri_dict)

hrv_dict = hrvdf.to_dict('records')
scrape.insert_many(hrv_dict)

est_dict = estdf.to_dict('records')
scrape.insert_many(est_dict)

fra_dict = fradf.to_dict('records')
scrape.insert_many(fra_dict)

deu_dict = deudf.to_dict('records')
scrape.insert_many(deu_dict)

grc_dict = grcdf.to_dict('records')
scrape.insert_many(grc_dict)

hun_dict = hundf.to_dict('records')
scrape.insert_many(hun_dict)

hun_dict = hundf.to_dict('records')
scrape.insert_many(hun_dict)

ita_dict = itadf.to_dict('records')
scrape.insert_many(ita_dict)

lva_dict = lvadf.to_dict('records')
scrape.insert_many(lva_dict)

ltu_dict = ltudf.to_dict('records')
scrape.insert_many(ltu_dict)

mlt_dict = mltdf.to_dict('records')
scrape.insert_many(mlt_dict)

nld_dict = nlddf.to_dict('records')
scrape.insert_many(nld_dict)

nzl_dict = nzldf.to_dict('records')
scrape.insert_many(nzl_dict)

nor_dict = nordf.to_dict('records')
scrape.insert_many(nor_dict)

per_dict = perdf.to_dict('records')
scrape.insert_many(per_dict)

pol_dict = poldf.to_dict('records')
scrape.insert_many(pol_dict)

rou_dict = roudf.to_dict('records')
scrape.insert_many(rou_dict)

rus_dict = rusdf.to_dict('records')
scrape.insert_many(rus_dict)

svn_dict = svndf.to_dict('records')
scrape.insert_many(svn_dict)

esp_dict = espdf.to_dict('records')
scrape.insert_many(esp_dict)

che_dict = chedf.to_dict('records')
scrape.insert_many(che_dict)

tur_dict = turdf.to_dict('records')
scrape.insert_many(tur_dict)

usa_dict = usadf.to_dict('records')
scrape.insert_many(usa_dict)

In [ ]:
browser.quit()

In [ ]:
australia = pd.read_excel (r'./oecd_data/australia.xlsx')
australia.drop(australia.columns[0], axis=1, inplace=True)
australia.columns.values[0] = "Domestic, inbound and outbound tourism"
australia.columns.values[1] = "2014"
australia.columns.values[2] = "2015"
australia.columns.values[3] = "2016"
australia.columns.values[4] = "2017"
australia.columns.values[5] = "2018"
australia.drop(australia.index[0:7], inplace = True)

In [ ]:
australia

In [ ]:
austria = pd.read_excel (r'./oecd_data/austria.xlsx')
austria.drop(austria.columns[0], axis=1, inplace=True)
austria.columns.values[0] = "Domestic, inbound and outbound tourism"
austria.columns.values[1] = "2014"
austria.columns.values[2] = "2015"
austria.columns.values[3] = "2016"
austria.columns.values[4] = "2017"
austria.columns.values[5] = "2018"
austria.drop(austria.index[0:7], inplace = True)

In [ ]:
austria

In [ ]:
colombia = pd.read_excel (r'./oecd_data/colombia.xlsx')
colombia.drop(colombia.columns[0], axis=1, inplace=True)
colombia.columns.values[0] = "Domestic, inbound and outbound tourism"
colombia.columns.values[1] = "2014"
colombia.columns.values[2] = "2015"
colombia.columns.values[3] = "2016"
colombia.columns.values[4] = "2017"
colombia.columns.values[5] = "2018"
colombia.drop(colombia.index[0:7], inplace = True)

In [ ]:
costa_rica = pd.read_excel (r'./oecd_data/costa_rica.xlsx')
costa_rica.drop(costa_rica.columns[0], axis=1, inplace=True)
costa_rica.columns.values[0] = "Domestic, inbound and outbound tourism"
costa_rica.columns.values[1] = "2014"
costa_rica.columns.values[2] = "2015"
costa_rica.columns.values[3] = "2016"
costa_rica.columns.values[4] = "2017"
costa_rica.columns.values[5] = "2018"
costa_rica.drop(costa_rica.index[0:7], inplace = True)

In [ ]:
croatia = pd.read_excel (r'./oecd_data/croatia.xlsx')
croatia.drop(croatia.columns[0], axis=1, inplace=True)
croatia.columns.values[0] = "Domestic, inbound and outbound tourism"
croatia.columns.values[1] = "2014"
croatia.columns.values[2] = "2015"
croatia.columns.values[3] = "2016"
croatia.columns.values[4] = "2017"
croatia.columns.values[5] = "2018"
croatia.drop(croatia.index[0:7], inplace = True)

In [ ]:
estonia = pd.read_excel (r'./oecd_data/estonia.xlsx')
estonia.drop(estonia.columns[0], axis=1, inplace=True)
estonia.columns.values[0] = "Domestic, inbound and outbound tourism"
estonia.columns.values[1] = "2014"
estonia.columns.values[2] = "2015"
estonia.columns.values[3] = "2016"
estonia.columns.values[4] = "2017"
estonia.columns.values[5] = "2018"
estonia.drop(estonia.index[0:7], inplace = True)

In [ ]:
finland = pd.read_excel (r'./oecd_data/finland.xlsx')
finland.drop(finland.columns[0], axis=1, inplace=True)
finland.columns.values[0] = "Domestic, inbound and outbound tourism"
finland.columns.values[1] = "2014"
finland.columns.values[2] = "2015"
finland.columns.values[3] = "2016"
finland.columns.values[4] = "2017"
finland.columns.values[5] = "2018"
finland.drop(finland.index[0:7], inplace = True)

In [ ]:
france = pd.read_excel (r'./oecd_data/france.xlsx')
france.drop(france.columns[0], axis=1, inplace=True)
france.columns.values[0] = "Domestic, inbound and outbound tourism"
france.columns.values[1] = "2014"
france.columns.values[2] = "2015"
france.columns.values[3] = "2016"
france.columns.values[4] = "2017"
france.columns.values[5] = "2018"
france.drop(france.index[0:7], inplace = True)

In [ ]:
germany = pd.read_excel (r'./oecd_data/germany.xlsx')
germany.drop(germany.columns[0], axis=1, inplace=True)
germany.columns.values[0] = "Domestic, inbound and outbound tourism"
germany.columns.values[1] = "2014"
germany.columns.values[2] = "2015"
germany.columns.values[3] = "2016"
germany.columns.values[4] = "2017"
germany.columns.values[5] = "2018"
germany.drop(germany.index[0:7], inplace = True)

In [ ]:
greece = pd.read_excel (r'./oecd_data/greece.xlsx')
greece.drop(greece.columns[0], axis=1, inplace=True)
greece.columns.values[0] = "Domestic, inbound and outbound tourism"
greece.columns.values[1] = "2014"
greece.columns.values[2] = "2015"
greece.columns.values[3] = "2016"
greece.columns.values[4] = "2017"
greece.columns.values[5] = "2018"
greece.drop(greece.index[0:7], inplace = True)

In [ ]:
hungary = pd.read_excel (r'./oecd_data/hungary.xlsx')
hungary.drop(hungary.columns[0], axis=1, inplace=True)
hungary.columns.values[0] = "Domestic, inbound and outbound tourism"
hungary.columns.values[1] = "2014"
hungary.columns.values[2] = "2015"
hungary.columns.values[3] = "2016"
hungary.columns.values[4] = "2017"
hungary.columns.values[5] = "2018"
hungary.drop(hungary.index[0:7], inplace = True)

In [ ]:
italy = pd.read_excel (r'./oecd_data/italy.xlsx')
italy.drop(italy.columns[0], axis=1, inplace=True)
italy.columns.values[0] = "Domestic, inbound and outbound tourism"
italy.columns.values[1] = "2014"
italy.columns.values[2] = "2015"
italy.columns.values[3] = "2016"
italy.columns.values[4] = "2017"
italy.columns.values[5] = "2018"
italy.drop(italy.index[0:7], inplace = True)

In [ ]:
latvia = pd.read_excel (r'./oecd_data/latvia.xlsx')
latvia.drop(latvia.columns[0], axis=1, inplace=True)
latvia.columns.values[0] = "Domestic, inbound and outbound tourism"
latvia.columns.values[1] = "2014"
latvia.columns.values[2] = "2015"
latvia.columns.values[3] = "2016"
latvia.columns.values[4] = "2017"
latvia.columns.values[5] = "2018"
latvia.drop(latvia.index[0:7], inplace = True)

In [ ]:
lithuania = pd.read_excel (r'./oecd_data/lithuania.xlsx')
lithuania.drop(lithuania.columns[0], axis=1, inplace=True)
lithuania.columns.values[0] = "Domestic, inbound and outbound tourism"
lithuania.columns.values[1] = "2014"
lithuania.columns.values[2] = "2015"
lithuania.columns.values[3] = "2016"
lithuania.columns.values[4] = "2017"
lithuania.columns.values[5] = "2018"
lithuania.drop(lithuania.index[0:7], inplace = True)

In [ ]:
malta = pd.read_excel (r'./oecd_data/malta.xlsx')
malta.drop(malta.columns[0], axis=1, inplace=True)
malta.columns.values[0] = "Domestic, inbound and outbound tourism"
malta.columns.values[1] = "2014"
malta.columns.values[2] = "2015"
malta.columns.values[3] = "2016"
malta.columns.values[4] = "2017"
malta.columns.values[5] = "2018"
malta.drop(malta.index[0:7], inplace = True)

In [ ]:
netherlands = pd.read_excel (r'./oecd_data/netherlands.xlsx')
netherlands.drop(netherlands.columns[0], axis=1, inplace=True)
netherlands.columns.values[0] = "Domestic, inbound and outbound tourism"
netherlands.columns.values[1] = "2014"
netherlands.columns.values[2] = "2015"
netherlands.columns.values[3] = "2016"
netherlands.columns.values[4] = "2017"
netherlands.columns.values[5] = "2018"
netherlands.drop(netherlands.index[0:7], inplace = True)

In [ ]:
new_zealand = pd.read_excel (r'./oecd_data/new_zealand.xlsx')
new_zealand.drop(new_zealand.columns[0], axis=1, inplace=True)
new_zealand.columns.values[0] = "Domestic, inbound and outbound tourism"
new_zealand.columns.values[1] = "2014"
new_zealand.columns.values[2] = "2015"
new_zealand.columns.values[3] = "2016"
new_zealand.columns.values[4] = "2017"
new_zealand.columns.values[5] = "2018"
new_zealand.drop(new_zealand.index[0:7], inplace = True)

In [ ]:
norway = pd.read_excel (r'./oecd_data/norway.xlsx')
norway.drop(norway.columns[0], axis=1, inplace=True)
norway.columns.values[0] = "Domestic, inbound and outbound tourism"
norway.columns.values[1] = "2014"
norway.columns.values[2] = "2015"
norway.columns.values[3] = "2016"
norway.columns.values[4] = "2017"
norway.columns.values[5] = "2018"
norway.drop(norway.index[0:7], inplace = True)

In [ ]:
peru = pd.read_excel (r'./oecd_data/peru.xlsx')
peru.drop(peru.columns[0], axis=1, inplace=True)
peru.columns.values[0] = "Domestic, inbound and outbound tourism"
peru.columns.values[1] = "2014"
peru.columns.values[2] = "2015"
peru.columns.values[3] = "2016"
peru.columns.values[4] = "2017"
peru.columns.values[5] = "2018"
peru.drop(peru.index[0:7], inplace = True)

In [ ]:
poland = pd.read_excel (r'./oecd_data/poland.xlsx')
poland.drop(poland.columns[0], axis=1, inplace=True)
poland.columns.values[0] = "Domestic, inbound and outbound tourism"
poland.columns.values[1] = "2014"
poland.columns.values[2] = "2015"
poland.columns.values[3] = "2016"
poland.columns.values[4] = "2017"
poland.columns.values[5] = "2018"
poland.drop(poland.index[0:7], inplace = True)

In [ ]:
romania = pd.read_excel (r'./oecd_data/romania.xlsx')
romania.drop(romania.columns[0], axis=1, inplace=True)
romania.columns.values[0] = "Domestic, inbound and outbound tourism"
romania.columns.values[1] = "2014"
romania.columns.values[2] = "2015"
romania.columns.values[3] = "2016"
romania.columns.values[4] = "2017"
romania.columns.values[5] = "2018"
romania.drop(romania.index[0:7], inplace = True)

In [ ]:
russia = pd.read_excel (r'./oecd_data/russia.xlsx')
russia.drop(russia.columns[0], axis=1, inplace=True)
russia.columns.values[0] = "Domestic, inbound and outbound tourism"
russia.columns.values[1] = "2014"
russia.columns.values[2] = "2015"
russia.columns.values[3] = "2016"
russia.columns.values[4] = "2017"
russia.columns.values[5] = "2018"
russia.drop(russia.index[0:7], inplace = True)

In [ ]:
slovenia = pd.read_excel (r'./oecd_data/slovenia.xlsx')
slovenia.drop(slovenia.columns[0], axis=1, inplace=True)
slovenia.columns.values[0] = "Domestic, inbound and outbound tourism"
slovenia.columns.values[1] = "2014"
slovenia.columns.values[2] = "2015"
slovenia.columns.values[3] = "2016"
slovenia.columns.values[4] = "2017"
slovenia.columns.values[5] = "2018"
slovenia.drop(slovenia.index[0:7], inplace = True)

In [ ]:
spain = pd.read_excel (r'./oecd_data/spain.xlsx')
spain.drop(spain.columns[0], axis=1, inplace=True)
spain.columns.values[0] = "Domestic, inbound and outbound tourism"
spain.columns.values[1] = "2014"
spain.columns.values[2] = "2015"
spain.columns.values[3] = "2016"
spain.columns.values[4] = "2017"
spain.columns.values[5] = "2018"
spain.drop(spain.index[0:7], inplace = True)

In [ ]:
switzerland = pd.read_excel (r'./oecd_data/switzerland.xlsx')
switzerland.drop(switzerland.columns[0], axis=1, inplace=True)
switzerland.columns.values[0] = "Domestic, inbound and outbound tourism"
switzerland.columns.values[1] = "2014"
switzerland.columns.values[2] = "2015"
switzerland.columns.values[3] = "2016"
switzerland.columns.values[4] = "2017"
switzerland.columns.values[5] = "2018"
switzerland.drop(switzerland.index[0:7], inplace = True)

In [ ]:
turkey = pd.read_excel (r'./oecd_data/turkey.xlsx')
turkey.drop(turkey.columns[0], axis=1, inplace=True)
turkey.columns.values[0] = "Domestic, inbound and outbound tourism"
turkey.columns.values[1] = "2014"
turkey.columns.values[2] = "2015"
turkey.columns.values[3] = "2016"
turkey.columns.values[4] = "2017"
turkey.columns.values[5] = "2018"
turkey.drop(turkey.index[0:7], inplace = True)

In [ ]:
united_states = pd.read_excel (r'./oecd_data/united_states.xlsx')
united_states.drop(united_states.columns[0], axis=1, inplace=True)
united_states.columns.values[0] = "Domestic, inbound and outbound tourism"
united_states.columns.values[1] = "2014"
united_states.columns.values[2] = "2015"
united_states.columns.values[3] = "2016"
united_states.columns.values[4] = "2017"
united_states.columns.values[5] = "2018"
united_states.drop(united_states.index[0:7], inplace = True)

In [ ]:
def number_list(list_i):
    var_def=list_i
    var_def=np.nan_to_num(var_def).tolist()
    
    for i in range(len(var_def)):
        element=var_def[i]
        try:
            new_element=float(element)
        except:
            if isinstance(element, int):
                new_element=float(element)
            elif isinstance(element, str):
                new_element=0
        
        var_def[i]
    
    var_def=[float(x) for x in var_def ]
    var_def=np.nan_to_num(var_def).tolist()
        
    return var_def

In [ ]:
australia= australia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
australia= australia.set_index('Domestic, inbound and outbound tourism')
austria= austria.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
austria= austria.set_index('Domestic, inbound and outbound tourism')
colombia= colombia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
colombia= colombia.set_index('Domestic, inbound and outbound tourism')
costa_rica= costa_rica.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
costa_rica= costa_rica.set_index('Domestic, inbound and outbound tourism')
croatia= croatia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
croatia= croatia.set_index('Domestic, inbound and outbound tourism')
estonia= estonia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
estonia= estonia.set_index('Domestic, inbound and outbound tourism')
finland= finland.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
finland= finland.set_index('Domestic, inbound and outbound tourism')
france= france.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
france= france.set_index('Domestic, inbound and outbound tourism')
germany= germany.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
germany= germany.set_index('Domestic, inbound and outbound tourism')
greece= greece.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
greece= greece.set_index('Domestic, inbound and outbound tourism')
hungary= hungary.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
hungary= hungary.set_index('Domestic, inbound and outbound tourism')
italy= italy.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
italy= italy.set_index('Domestic, inbound and outbound tourism')
latvia= latvia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49])
latvia= latvia.set_index('Domestic, inbound and outbound tourism')
malta= malta.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
malta= malta.set_index('Domestic, inbound and outbound tourism')
netherlands= netherlands.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
netherlands= netherlands.set_index('Domestic, inbound and outbound tourism')
new_zealand= new_zealand.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
new_zealand= new_zealand.set_index('Domestic, inbound and outbound tourism')
norway= norway.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
norway= norway.set_index('Domestic, inbound and outbound tourism')
peru= peru.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
peru= peru.set_index('Domestic, inbound and outbound tourism')
poland= poland.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
poland= poland.set_index('Domestic, inbound and outbound tourism')
romania= romania.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
romania= romania.set_index('Domestic, inbound and outbound tourism')
russia= russia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
russia= russia.set_index('Domestic, inbound and outbound tourism')
slovenia= slovenia.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
slovenia= slovenia.set_index('Domestic, inbound and outbound tourism')
spain= spain.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
spain= spain.set_index('Domestic, inbound and outbound tourism')
switzerland= switzerland.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
switzerland= switzerland.set_index('Domestic, inbound and outbound tourism')
turkey= turkey.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
turkey= turkey.set_index('Domestic, inbound and outbound tourism')
united_states= united_states.drop([7,8,9,10,11,12,13,14,15,18,19,26,27,28,29,32,33,40,41,42,43,44,45,46,47,48,49,50])
united_states= united_states.set_index('Domestic, inbound and outbound tourism')

In [ ]:
australia.reset_index(inplace=True)

In [ ]:
countries = db['OECD']

In [ ]:
australia.insert(0, 'Country', 'Australia')

In [ ]:
australia

In [ ]:
australia_dict = australia.to_dict('records')

In [ ]:
austria.reset_index(inplace=True)
austria.insert(0, 'Country', 'Austria')
austria_dict = austria.to_dict('records')
austria_dict

In [ ]:
australia_dict

In [ ]:
countries = db['OECD']
#australia_dict = australia.to_dict('dict')
countries.insert_many(australia_dict)

In [ ]:
countries.insert_many(austria_dict)

In [ ]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)
db = client['Tourism']
collection = db['AtlasObscura']

In [ ]:
#!jupyter nbconvert --to script atlas_obscura_scraper.ipynb