In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import json
import pymongo
from pymongo import MongoClient
from webdriver_manager.chrome import ChromeDriverManager

<h2>COUNTRY DATA EXTRACTION AND PREPARATION<h2>

In [2]:
australia = pd.read_excel (r'./oecd_data/australia.xlsx')
australia.drop(australia.columns[0], axis=1, inplace=True)
australia.columns.values[0] = "Domestic, inbound and outbound tourism"
australia.columns.values[1] = "2014"
australia.columns.values[2] = "2015"
australia.columns.values[3] = "2016"
australia.columns.values[4] = "2017"
australia.columns.values[5] = "2018"
australia.drop(australia.index[0:7], inplace = True)

In [3]:
austria = pd.read_excel (r'./oecd_data/austria.xlsx')
austria.drop(austria.columns[0], axis=1, inplace=True)
austria.columns.values[0] = "Domestic, inbound and outbound tourism"
austria.columns.values[1] = "2014"
austria.columns.values[2] = "2015"
austria.columns.values[3] = "2016"
austria.columns.values[4] = "2017"
austria.columns.values[5] = "2018"
austria.drop(austria.index[0:7], inplace = True)

In [4]:
colombia = pd.read_excel (r'./oecd_data/colombia.xlsx')
colombia.drop(colombia.columns[0], axis=1, inplace=True)
colombia.columns.values[0] = "Domestic, inbound and outbound tourism"
colombia.columns.values[1] = "2014"
colombia.columns.values[2] = "2015"
colombia.columns.values[3] = "2016"
colombia.columns.values[4] = "2017"
colombia.columns.values[5] = "2018"
colombia.drop(colombia.index[0:7], inplace = True)

In [5]:
costa_rica = pd.read_excel (r'./oecd_data/costa_rica.xlsx')
costa_rica.drop(costa_rica.columns[0], axis=1, inplace=True)
costa_rica.columns.values[0] = "Domestic, inbound and outbound tourism"
costa_rica.columns.values[1] = "2014"
costa_rica.columns.values[2] = "2015"
costa_rica.columns.values[3] = "2016"
costa_rica.columns.values[4] = "2017"
costa_rica.columns.values[5] = "2018"
costa_rica.drop(costa_rica.index[0:7], inplace = True)

In [6]:
croatia = pd.read_excel (r'./oecd_data/croatia.xlsx')
croatia.drop(croatia.columns[0], axis=1, inplace=True)
croatia.columns.values[0] = "Domestic, inbound and outbound tourism"
croatia.columns.values[1] = "2014"
croatia.columns.values[2] = "2015"
croatia.columns.values[3] = "2016"
croatia.columns.values[4] = "2017"
croatia.columns.values[5] = "2018"
croatia.drop(croatia.index[0:7], inplace = True)

In [7]:
estonia = pd.read_excel (r'./oecd_data/estonia.xlsx')
estonia.drop(estonia.columns[0], axis=1, inplace=True)
estonia.columns.values[0] = "Domestic, inbound and outbound tourism"
estonia.columns.values[1] = "2014"
estonia.columns.values[2] = "2015"
estonia.columns.values[3] = "2016"
estonia.columns.values[4] = "2017"
estonia.columns.values[5] = "2018"
estonia.drop(estonia.index[0:7], inplace = True)

In [8]:
finland = pd.read_excel (r'./oecd_data/finland.xlsx')
finland.drop(finland.columns[0], axis=1, inplace=True)
finland.columns.values[0] = "Domestic, inbound and outbound tourism"
finland.columns.values[1] = "2014"
finland.columns.values[2] = "2015"
finland.columns.values[3] = "2016"
finland.columns.values[4] = "2017"
finland.columns.values[5] = "2018"
finland.drop(finland.index[0:7], inplace = True)

In [9]:
france = pd.read_excel (r'./oecd_data/france.xlsx')
france.drop(france.columns[0], axis=1, inplace=True)
france.columns.values[0] = "Domestic, inbound and outbound tourism"
france.columns.values[1] = "2014"
france.columns.values[2] = "2015"
france.columns.values[3] = "2016"
france.columns.values[4] = "2017"
france.columns.values[5] = "2018"
france.drop(france.index[0:7], inplace = True)

In [10]:
germany = pd.read_excel (r'./oecd_data/germany.xlsx')
germany.drop(germany.columns[0], axis=1, inplace=True)
germany.columns.values[0] = "Domestic, inbound and outbound tourism"
germany.columns.values[1] = "2014"
germany.columns.values[2] = "2015"
germany.columns.values[3] = "2016"
germany.columns.values[4] = "2017"
germany.columns.values[5] = "2018"
germany.drop(germany.index[0:7], inplace = True)

In [12]:
greece = pd.read_excel (r'./oecd_data/greece.xlsx')
greece.drop(greece.columns[0], axis=1, inplace=True)
greece.columns.values[0] = "Domestic, inbound and outbound tourism"
greece.columns.values[1] = "2014"
greece.columns.values[2] = "2015"
greece.columns.values[3] = "2016"
greece.columns.values[4] = "2017"
greece.columns.values[5] = "2018"
greece.drop(greece.index[0:7], inplace = True)

In [13]:
hungary = pd.read_excel (r'./oecd_data/hungary.xlsx')
hungary.drop(hungary.columns[0], axis=1, inplace=True)
hungary.columns.values[0] = "Domestic, inbound and outbound tourism"
hungary.columns.values[1] = "2014"
hungary.columns.values[2] = "2015"
hungary.columns.values[3] = "2016"
hungary.columns.values[4] = "2017"
hungary.columns.values[5] = "2018"
hungary.drop(hungary.index[0:7], inplace = True)

In [14]:
italy = pd.read_excel (r'./oecd_data/italy.xlsx')
italy.drop(italy.columns[0], axis=1, inplace=True)
italy.columns.values[0] = "Domestic, inbound and outbound tourism"
italy.columns.values[1] = "2014"
italy.columns.values[2] = "2015"
italy.columns.values[3] = "2016"
italy.columns.values[4] = "2017"
italy.columns.values[5] = "2018"
italy.drop(italy.index[0:7], inplace = True)

In [15]:
latvia = pd.read_excel (r'./oecd_data/latvia.xlsx')
latvia.drop(latvia.columns[0], axis=1, inplace=True)
latvia.columns.values[0] = "Domestic, inbound and outbound tourism"
latvia.columns.values[1] = "2014"
latvia.columns.values[2] = "2015"
latvia.columns.values[3] = "2016"
latvia.columns.values[4] = "2017"
latvia.columns.values[5] = "2018"
latvia.drop(latvia.index[0:7], inplace = True)

In [16]:
lithuania = pd.read_excel (r'./oecd_data/lithuania.xlsx')
lithuania.drop(lithuania.columns[0], axis=1, inplace=True)
lithuania.columns.values[0] = "Domestic, inbound and outbound tourism"
lithuania.columns.values[1] = "2014"
lithuania.columns.values[2] = "2015"
lithuania.columns.values[3] = "2016"
lithuania.columns.values[4] = "2017"
lithuania.columns.values[5] = "2018"
lithuania.drop(lithuania.index[0:7], inplace = True)

In [17]:
malta = pd.read_excel (r'./oecd_data/malta.xlsx')
malta.drop(malta.columns[0], axis=1, inplace=True)
malta.columns.values[0] = "Domestic, inbound and outbound tourism"
malta.columns.values[1] = "2014"
malta.columns.values[2] = "2015"
malta.columns.values[3] = "2016"
malta.columns.values[4] = "2017"
malta.columns.values[5] = "2018"
malta.drop(malta.index[0:7], inplace = True)

In [18]:
netherlands = pd.read_excel (r'./oecd_data/netherlands.xlsx')
netherlands.drop(netherlands.columns[0], axis=1, inplace=True)
netherlands.columns.values[0] = "Domestic, inbound and outbound tourism"
netherlands.columns.values[1] = "2014"
netherlands.columns.values[2] = "2015"
netherlands.columns.values[3] = "2016"
netherlands.columns.values[4] = "2017"
netherlands.columns.values[5] = "2018"
netherlands.drop(netherlands.index[0:7], inplace = True)

In [19]:
new_zealand = pd.read_excel (r'./oecd_data/new_zealand.xlsx')
new_zealand.drop(new_zealand.columns[0], axis=1, inplace=True)
new_zealand.columns.values[0] = "Domestic, inbound and outbound tourism"
new_zealand.columns.values[1] = "2014"
new_zealand.columns.values[2] = "2015"
new_zealand.columns.values[3] = "2016"
new_zealand.columns.values[4] = "2017"
new_zealand.columns.values[5] = "2018"
new_zealand.drop(new_zealand.index[0:7], inplace = True)

In [20]:
norway = pd.read_excel (r'./oecd_data/norway.xlsx')
norway.drop(norway.columns[0], axis=1, inplace=True)
norway.columns.values[0] = "Domestic, inbound and outbound tourism"
norway.columns.values[1] = "2014"
norway.columns.values[2] = "2015"
norway.columns.values[3] = "2016"
norway.columns.values[4] = "2017"
norway.columns.values[5] = "2018"
norway.drop(norway.index[0:7], inplace = True)

In [21]:
peru = pd.read_excel (r'./oecd_data/peru.xlsx')
peru.drop(peru.columns[0], axis=1, inplace=True)
peru.columns.values[0] = "Domestic, inbound and outbound tourism"
peru.columns.values[1] = "2014"
peru.columns.values[2] = "2015"
peru.columns.values[3] = "2016"
peru.columns.values[4] = "2017"
peru.columns.values[5] = "2018"
peru.drop(peru.index[0:7], inplace = True)

In [22]:
poland = pd.read_excel (r'./oecd_data/poland.xlsx')
poland.drop(poland.columns[0], axis=1, inplace=True)
poland.columns.values[0] = "Domestic, inbound and outbound tourism"
poland.columns.values[1] = "2014"
poland.columns.values[2] = "2015"
poland.columns.values[3] = "2016"
poland.columns.values[4] = "2017"
poland.columns.values[5] = "2018"
poland.drop(poland.index[0:7], inplace = True)

In [23]:
romania = pd.read_excel (r'./oecd_data/romania.xlsx')
romania.drop(romania.columns[0], axis=1, inplace=True)
romania.columns.values[0] = "Domestic, inbound and outbound tourism"
romania.columns.values[1] = "2014"
romania.columns.values[2] = "2015"
romania.columns.values[3] = "2016"
romania.columns.values[4] = "2017"
romania.columns.values[5] = "2018"
romania.drop(romania.index[0:7], inplace = True)

In [24]:
russia = pd.read_excel (r'./oecd_data/russia.xlsx')
russia.drop(russia.columns[0], axis=1, inplace=True)
russia.columns.values[0] = "Domestic, inbound and outbound tourism"
russia.columns.values[1] = "2014"
russia.columns.values[2] = "2015"
russia.columns.values[3] = "2016"
russia.columns.values[4] = "2017"
russia.columns.values[5] = "2018"
russia.drop(russia.index[0:7], inplace = True)

In [25]:
slovenia = pd.read_excel (r'./oecd_data/slovenia.xlsx')
slovenia.drop(slovenia.columns[0], axis=1, inplace=True)
slovenia.columns.values[0] = "Domestic, inbound and outbound tourism"
slovenia.columns.values[1] = "2014"
slovenia.columns.values[2] = "2015"
slovenia.columns.values[3] = "2016"
slovenia.columns.values[4] = "2017"
slovenia.columns.values[5] = "2018"
slovenia.drop(slovenia.index[0:7], inplace = True)

In [26]:
spain = pd.read_excel (r'./oecd_data/spain.xlsx')
spain.drop(spain.columns[0], axis=1, inplace=True)
spain.columns.values[0] = "Domestic, inbound and outbound tourism"
spain.columns.values[1] = "2014"
spain.columns.values[2] = "2015"
spain.columns.values[3] = "2016"
spain.columns.values[4] = "2017"
spain.columns.values[5] = "2018"
spain.drop(spain.index[0:7], inplace = True)

In [27]:
switzerland = pd.read_excel (r'./oecd_data/switzerland.xlsx')
switzerland.drop(switzerland.columns[0], axis=1, inplace=True)
switzerland.columns.values[0] = "Domestic, inbound and outbound tourism"
switzerland.columns.values[1] = "2014"
switzerland.columns.values[2] = "2015"
switzerland.columns.values[3] = "2016"
switzerland.columns.values[4] = "2017"
switzerland.columns.values[5] = "2018"
switzerland.drop(switzerland.index[0:7], inplace = True)

In [28]:
turkey = pd.read_excel (r'./oecd_data/turkey.xlsx')
turkey.drop(turkey.columns[0], axis=1, inplace=True)
turkey.columns.values[0] = "Domestic, inbound and outbound tourism"
turkey.columns.values[1] = "2014"
turkey.columns.values[2] = "2015"
turkey.columns.values[3] = "2016"
turkey.columns.values[4] = "2017"
turkey.columns.values[5] = "2018"
turkey.drop(turkey.index[0:7], inplace = True)

In [29]:
united_states = pd.read_excel (r'./oecd_data/united_states.xlsx')
united_states.drop(united_states.columns[0], axis=1, inplace=True)
united_states.columns.values[0] = "Domestic, inbound and outbound tourism"
united_states.columns.values[1] = "2014"
united_states.columns.values[2] = "2015"
united_states.columns.values[3] = "2016"
united_states.columns.values[4] = "2017"
united_states.columns.values[5] = "2018"
united_states.drop(united_states.index[0:7], inplace = True)

In [30]:
def number_list(list_i):
    var_def=list_i
    var_def=np.nan_to_num(var_def).tolist()
    
    for i in range(len(var_def)):
        element=var_def[i]
        try:
            new_element=float(element)
        except:
            if isinstance(element, int):
                new_element=float(element)
            elif isinstance(element, str):
                new_element=0
        
        var_def[i]
    
    var_def=[float(x) for x in var_def ]
    var_def=np.nan_to_num(var_def).tolist()
        
    return var_def

In [32]:
australia= australia.drop([7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [34]:
australia= australia.set_index('Domestic, inbound and outbound tourism')

In [37]:
austria= austria.drop([7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [38]:
austria= austria.set_index('Domestic, inbound and outbound tourism')

In [ ]:
#Created temporary CSV files to work with the team
#australia.to_csv("australia.csv")
#austria.to_csv("austria.csv")
#colombia.to_csv("colombia.csv")
#costa_rica.to_csv("costa_rica.csv")
#croatia.to_csv("croatia.csv")
#estonia.to_csv("estonia.csv")
#finland.to_csv("finland.csv")
#france.to_csv("france.csv")
#germany.to_csv("germany.csv")
#greece.to_csv("greece.csv")
#hungary.to_csv("hungary.csv")
#italy.to_csv("italy.csv")
#latvia.to_csv("latvia.csv")
#lithuania.to_csv("lithuania.csv")
#malta.to_csv("malta.csv")
#netherlands.to_csv("netherlands.csv")
#new_zealand.to_csv("new_zealand.csv")
#norway.to_csv("norway.csv")
#peru.to_csv("peru.csv")
#poland.to_csv("poland.csv")
#romania.to_csv("romania.csv")
#russia.to_csv("russia.csv")
#slovenia.to_csv("slovenia.csv")
#spain.to_csv("spain.csv")
#switzerland.to_csv("switzerland.csv")
#turkey.to_csv("turkey.csv")
#united_states.to_csv("united_states.csv")